In [7]:
import pandas as pd 
df = pd.read_excel('종합서비스업_1대1.xlsx')
df.head(10)

           기업명     업종명     재무총점수   비재무 총점수  1대1 최종점수
0           엑셈  종합서비스업  0.809524  0.941147  1.750670
1        엑스게이트  종합서비스업  0.738095  1.000000  1.738095
2       디앤씨미디어  종합서비스업  0.857143  0.797462  1.654605
3         모비릭스  종합서비스업  0.928571  0.713517  1.642088
4      케이아이엔엑스  종합서비스업  0.833333  0.795131  1.628464
5  제이와이피엔터테인먼트  종합서비스업  1.000000  0.621653  1.621653
6          가비아  종합서비스업  0.880952  0.736822  1.617774
7         이노룰스  종합서비스업  0.785714  0.828438  1.614152
8        에코마케팅  종합서비스업  0.952381  0.654610  1.606991
9          큐알티  종합서비스업  0.761905  0.840375  1.602280

In [12]:
import pandas as pd 
df1 = pd.read_excel('화학물질 및 의약품_1대1.xlsx')
df1.head(10)

         기업명             업종명     재무총점수   비재무 총점수  1대1 최종점수
0       마녀공장  화학물질 및 의약품 제조업  1.000000  0.857821  1.857821
1   바이오에프디엔씨  화학물질 및 의약품 제조업  0.767442  1.000000  1.767442
2      바디텍메드  화학물질 및 의약품 제조업  0.860465  0.775543  1.636008
3        티앤엘  화학물질 및 의약품 제조업  0.953488  0.567885  1.521373
4    원익머트리얼즈  화학물질 및 의약품 제조업  0.860465  0.617285  1.477750
5       휴마시스  화학물질 및 의약품 제조업  0.930233  0.516734  1.446966
6      바이오니아  화학물질 및 의약품 제조업  0.860465  0.578679  1.439144
7  이엔에프테크놀로지  화학물질 및 의약품 제조업  0.651163  0.770005  1.421168
8       제놀루션  화학물질 및 의약품 제조업  0.883721  0.531363  1.415084
9     금호석유화학  화학물질 및 의약품 제조업  0.837209  0.572769  1.409978

In [11]:
import pandas as pd 
df2 = pd.read_excel('운송업_1대1.xlsx')
df2.head(2)

        기업명  업종명     재무총점수   비재무 총점수  1대1 최종점수
0     태웅로직스  운송업  1.000000  0.788094  1.788094
1  케이에스에스해운  운송업  0.655172  1.000000  1.655172

In [14]:
df3 = pd.read_excel('에너지_1대1.xlsx')
df3.head(1)

      기업명           업종명  재무총점수  비재무 총점수  1대1 최종점수
0  대한그린파워  에너지 및 원료 공급업    0.2      1.0       1.2

In [16]:
df4 = pd.read_excel('식품제조업_1대1.xlsx')
df4.head(6)

        기업명     업종명  재무총점수   비재무 총점수  1대1 최종점수
0  에이치엘사이언스  식품 제조업   0.75  1.000000  1.750000
1     에이치피오  식품 제조업   0.95  0.767560  1.717560
2       뉴트리  식품 제조업   1.00  0.668597  1.668597
3     프롬바이오  식품 제조업   0.75  0.854788  1.604788
4      노바렉스  식품 제조업   0.85  0.682603  1.532603
5      삼양식품  식품 제조업   0.90  0.617111  1.517111

In [18]:
df5 = pd.read_excel('섬유 및 목재_1대1.xlsx')
df5.head(8)

       기업명          업종명    재무 총점수   비재무 총점수  1대1 최종점수
0     공구우먼  섬유 및 목재 제조업  1.000000  0.596199  1.596199
1       원림  섬유 및 목재 제조업  0.581395  1.000000  1.581395
2    한국쉘석유  섬유 및 목재 제조업  0.813953  0.630378  1.444331
3     대림제지  섬유 및 목재 제조업  0.813953  0.572824  1.386778
4      케이엠  섬유 및 목재 제조업  0.744186  0.634860  1.379046
5     씨앤투스  섬유 및 목재 제조업  0.837209  0.523023  1.360233
6  크리스에프앤씨  섬유 및 목재 제조업  0.744186  0.593817  1.338003
7    패션플랫폼  섬유 및 목재 제조업  0.720930  0.500533  1.221463

In [20]:
df6 = pd.read_excel('도소매업_1대1.xlsx')
df6.head(10)

        기업명   업종명     재무총점수   비재무 총점수  1대1 최종점수
0   감성코퍼레이션  도소매업  0.894737  0.739817  1.634554
1   서플러스글로벌  도소매업  0.894737  0.727565  1.622302
2      와이오엠  도소매업  0.552632  1.000000  1.552632
3     미래반도체  도소매업  1.000000  0.507875  1.507875
4      실리콘투  도소매업  1.000000  0.496413  1.496413
5    에스에이엠티  도소매업  0.947368  0.462369  1.409737
6     유니퀘스트  도소매업  0.657895  0.704499  1.362394
7      삼영무역  도소매업  0.815789  0.538693  1.354483
8     대원미디어  도소매업  0.842105  0.504180  1.346286
9  골프존뉴딘홀딩스  도소매업  0.789474  0.518437  1.307910

In [21]:
df7 = pd.read_excel('금속 및 제조업_1대1.xlsx')
df7.head(10)

      기업명           업종명    재무 총점수   비재무 총점수  1대1 최종점수
0     넥스틴  금속 및 비금속 제조업  0.934783  1.000000  1.934783
1     엑시콘  금속 및 비금속 제조업  0.847826  0.941575  1.789401
2     노바텍  금속 및 비금속 제조업  1.000000  0.715978  1.715978
3    씨유테크  금속 및 비금속 제조업  0.782609  0.881122  1.663731
4   TCC스틸  금속 및 비금속 제조업  0.673913  0.933532  1.607445
5     케이씨  금속 및 비금속 제조업  0.891304  0.680607  1.571911
6   엑스페릭스  금속 및 비금속 제조업  0.543478  0.989645  1.533123
7    유비쿼스  금속 및 비금속 제조업  0.826087  0.697095  1.523182
8    티에프이  금속 및 비금속 제조업  0.934783  0.582679  1.517461
9  와이아이케이  금속 및 비금속 제조업  0.869565  0.630108  1.499673

In [23]:
df8 = pd.read_excel('건설업_1대1.xlsx')
df8.head(5)

       기업명  업종명     재무총점수   비재무 총점수  1대1 최종점수
0    대명에너지  건설업  0.806452  0.859619  1.666071
1     디엘건설  건설업  0.935484  0.540527  1.476011
2  수산인더스트리  건설업  1.000000  0.450018  1.450018
3     화성산업  건설업  0.580645  0.838458  1.419103
4   금화피에스시  건설업  0.967742  0.387921  1.355663