### 상대모멘텀 
- 10개 주식 데이터를 이용
1. 월초부터 월말의 수정주가를 이용하여 월별 수익율
2. 월말의 수익율이 높은 순서 중 1개의 주식을 선택
3. 자른 종목만 투자하는 경우 수익율 계산

In [152]:
import pandas as pd
from datetime import datetime

In [153]:
# 월별 수익율 
def create_1M_rtn(sample, ticker, start = '2010-01-01', col = 'Adj Close'):
    # CODE라는 컬럼을 생성 -> ticker 대입 
    sample['CODE'] = ticker
    if 'Date' in sample.columns:
        # copy() : 복사본 생성 
        sample = sample.loc[sample['Date'] >= start, 
                            ['Date', 'CODE', col]].copy()
        # sample의 Date를 시계열로 변경하고 인덱스로 변경
        sample['Date'] = pd.to_datetime(sample['Date'])
        sample.set_index('Date', inplace=True)
    else:
        sample.index = pd.to_datetime(sample.index)
        sample = sample.loc[start:, ['CODE', col]].copy()
    # 기준년월 컬럼을 생성 
    sample['STD-YM'] = sample.index.map(
        lambda x : x.strftime('%Y-%m')
    )
    sample['1m_rtn'] = 0
    #  중복데이터를 제거하고 고유한 값들만 list형태로 생성
    ym_list = sample['STD-YM'].unique() 
    return sample, ym_list

In [154]:
df = pd.read_csv('../../csv/AAPL.csv')
df2 = pd.read_csv('../../csv/AMZN.csv', index_col='Date')

In [155]:
sample_df, ym_list = create_1M_rtn(df, 'AAPL')

In [156]:
sample_df.head()

            CODE  Adj Close   STD-YM  1m_rtn
Date
2010-01-04  AAPL  26.782711  2010-01       0
2010-01-05  AAPL  26.829010  2010-01       0
2010-01-06  AAPL  26.402260  2010-01       0
2010-01-07  AAPL  26.353460  2010-01       0
2010-01-08  AAPL  26.528664  2010-01       0

In [157]:
ym_list

array(['2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06',
       '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12',
       '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
       '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
       '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06',
       '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12',
       '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
       '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12',
       '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06',
       '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12',
       '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
       '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
       '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
       '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12',
       '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
       '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
       '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
       '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06'],
      dtype=object)

In [158]:
sample_df2, ym_list2 = create_1M_rtn(df2, 'AMZM')

In [159]:
sample_df2.head()

            CODE   Adj Close   STD-YM  1m_rtn
Date
2010-01-04  AMZM  133.899994  2010-01       0
2010-01-05  AMZM  134.690002  2010-01       0
2010-01-06  AMZM  132.250000  2010-01       0
2010-01-07  AMZM  130.000000  2010-01       0
2010-01-08  AMZM  133.520004  2010-01       0

In [160]:
ym_list2

array(['2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06',
       '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12',
       '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
       '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
       '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06',
       '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12',
       '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
       '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12',
       '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06',
       '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12',
       '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
       '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
       '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
       '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12',
       '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
       '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
       '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
       '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06'],
      dtype=object)

In [161]:
def create_trade_book(sample, code):
    # 새로운 데이터프레임을 생성
    book = pd.DataFrame()
    book = sample[code].copy()
    book['STD-YM'] = book.index.map(
        lambda x : x.strftime('%Y-%m')
    )
    for c in code:
        book['p'+c] = ''
        book['r'+c] = ''
    return book

In [162]:
import os 
import glob
import numpy as np

In [163]:
# 특정 경로에 있는 파일의 목록을 불러오기 
os.listdir("../../data/")

files = glob.glob("../../data/*.csv")

# 새로운 데이터프레임을 생성 
# 종목별 데이터프레임
stock_df = pd.DataFrame()
# 월말 데이터프레임 
month_last_df = pd.DataFrame()

for file in files:
    folder, name = os.path.split(file)
    # print(folder, name)
    head, tail = os.path.splitext(name)
    # print(head, tail)
    # head를 create_1M_rtn 함수에 ticker로 이용하기 위해 생성

    # 파일 로드 
    read_df = pd.read_csv(file)

    # 첫번째 함수를 로드 
    price_df, ym_list = create_1M_rtn(read_df, head)

    # 데이터프레임을 모두 결합
    stock_df = pd.concat([stock_df, price_df], axis=0)

    # 월별 상대모멘텀을 계산하기 위해 1개월간의 수익율 계산
    for ym in ym_list:
        flag = price_df['STD-YM'] == ym
        m_rtn = price_df.loc[flag].iloc[-1, 1] / price_df.loc[flag].iloc[0, 1]
        price_df.loc[flag, '1m_rtn'] = m_rtn
        data = price_df.loc[flag, ['CODE', '1m_rtn']].tail(1)
        month_last_df = pd.concat([month_last_df, data], axis=0)

In [164]:
month_last_df

            CODE    1m_rtn
Date
2010-01-29  AAPL  0.897435
2010-02-26  AAPL  1.050789
2010-03-31  AAPL  1.124456
2010-04-30  AAPL  1.106454
2010-05-28  AAPL  0.964445
...          ...       ...
2019-02-28   USM  0.817688
2019-03-29   USM  0.974942
2019-04-30   USM  1.035968
2019-05-31   USM  0.894067
2019-06-24   USM  1.087699

[1130 rows x 2 columns]

In [165]:
# warning 메시지 제거 
import warnings
warnings.filterwarnings('ignore')

In [166]:
test = stock_df.copy()

In [167]:
# pivot_table() : groupby()와 흡사
test = test[['CODE', 'Adj Close', '1m_rtn']]

In [168]:
test.reset_index(inplace=True)

In [169]:
test.groupby(['Date','CODE']).mean().unstack()

             Adj Close                                                 \
CODE              AAPL         AMZN        BND        GDX         GLD
Date
2010-01-04   26.782711   133.899994  60.611969  44.908779  109.800003
2010-01-05   26.829010   134.690002  60.789135  45.341774  109.699997
2010-01-06   26.402260   132.250000  60.766037  46.443077  111.510002
2010-01-07   26.353460   130.000000  60.719822  46.217175  110.820000
2010-01-08   26.528664   133.520004  60.781410  46.913723  111.370003
...                ...          ...        ...        ...         ...
2019-06-18  198.449997  1901.369995  82.397118  23.670000  127.120003
2019-06-19  197.869995  1908.790039  82.676468  24.000000  127.889999
2019-06-20  199.460007  1918.189941  82.806168  25.049999  131.110001
2019-06-21  198.779999  1911.300049  82.576698  25.209999  131.979996
2019-06-24  199.169998  1907.953857  82.726349  25.703501  133.501907

                                                                    1m_rtn  \
CODE               GM        MSFT        SLV         SPY        USM   AAPL
Date
2010-01-04        NaN   24.525019  17.230000   93.675278  36.015179    0.0
2010-01-05        NaN   24.532942  17.510000   93.923241  35.998024    0.0
2010-01-06        NaN   24.382378  17.860001   93.989357  35.680672    0.0
2010-01-07        NaN   24.128809  17.889999   94.386139  35.208931    0.0
2010-01-08        NaN   24.295214  18.150000   94.700218  34.651424    0.0
...               ...         ...        ...         ...        ...    ...
2019-06-18  36.700001  135.160004  14.050000  290.984741  50.540001    0.0
2019-06-19  36.779999  135.690002  14.170000  291.641541  50.040001    0.0
2019-06-20  36.959999  136.949997  14.450000  294.427979  49.320000    0.0
2019-06-21  36.919998  136.970001  14.360000  294.000000  48.330002    0.0
2019-06-24  36.814999  138.289993  14.432900  293.640015  47.750000    0.0


CODE       AMZN  BND  GDX  GLD   GM MSFT  SLV  SPY  USM
Date
2010-01-04  0.0  0.0  0.0  0.0  NaN  0.0  0.0  0.0  0.0
2010-01-05  0.0  0.0  0.0  0.0  NaN  0.0  0.0  0.0  0.0
2010-01-06  0.0  0.0  0.0  0.0  NaN  0.0  0.0  0.0  0.0
2010-01-07  0.0  0.0  0.0  0.0  NaN  0.0  0.0  0.0  0.0
2010-01-08  0.0  0.0  0.0  0.0  NaN  0.0  0.0  0.0  0.0
...         ...  ...  ...  ...  ...  ...  ...  ...  ...
2019-06-18  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2019-06-19  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2019-06-20  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2019-06-21  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2019-06-24  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[2384 rows x 20 columns]

In [170]:
import matplotlib.pyplot as plt

In [ ]:
test.pivot_table(
    index='Date', 
    columns= 'CODE', 
    values= 'Adj Close', 
    aggfunc= ['mean', 'sum']
)

In [ ]:
test.pivot_table(
    index='Date', 
    columns= 'CODE', 
    values= 'Adj Close', 
    aggfunc= ['mean', 'sum']
).plot()

In [237]:
month_rtn_df = month_last_df.copy()

In [238]:
month_rtn_df.reset_index(inplace=True)

In [239]:
month_rtn_df = month_rtn_df[['Date', 'CODE', '1m_rtn']]

In [240]:
month_rtn_df = month_rtn_df.pivot_table(index='Date', columns='CODE', values='1m_rtn')

In [241]:
month_rtn_df.head(1)

CODE,AAPL,AMZN,BND,GDX,GLD,GM,MSFT,SLV,SPY,USM
Date,,,,,,,,,,
2010-01-29,0.897435,0.936595,1.011692,0.85349,0.965027,NaN,0.910501,0.922809,0.947586,0.870922

In [242]:
month_rtn_df = month_rtn_df.rank(axis=1, ascending=False, method='max', pct=True)

In [243]:
# 상위 15% 종목들만 선택
month_rtn_df = month_rtn_df.where(month_rtn_df < 0.35, 0)

In [244]:
# 데이터 중 0 이 아니면 1로 대체
month_rtn_df[month_rtn_df != 0] = 1

In [245]:
month_rtn_df

CODE        AAPL  AMZN  BND  GDX  GLD   GM  MSFT  SLV  SPY  USM
Date
2010-01-29   0.0   0.0  1.0  0.0  1.0  0.0   0.0  0.0  1.0  0.0
2010-02-26   1.0   0.0  0.0  1.0  0.0  0.0   0.0  0.0  1.0  0.0
2010-03-31   1.0   1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  1.0
2010-04-30   1.0   0.0  0.0  1.0  0.0  0.0   1.0  0.0  0.0  0.0
2010-05-28   0.0   0.0  1.0  1.0  1.0  0.0   0.0  0.0  0.0  0.0
...          ...   ...  ...  ...  ...  ...   ...  ...  ...  ...
2019-02-28   1.0   0.0  0.0  0.0  0.0  0.0   1.0  0.0  1.0  0.0
2019-03-29   1.0   1.0  0.0  0.0  0.0  0.0   1.0  0.0  0.0  0.0
2019-04-30   1.0   1.0  0.0  0.0  0.0  0.0   1.0  0.0  0.0  0.0
2019-05-31   0.0   0.0  1.0  1.0  1.0  0.0   0.0  0.0  0.0  0.0
2019-06-24   1.0   0.0  0.0  1.0  0.0  0.0   1.0  0.0  0.0  0.0

[114 rows x 10 columns]

In [246]:
stock_codes = stock_df['CODE'].unique()

In [247]:
stock_codes

array(['AAPL', 'AMZN', 'BND', 'GDX', 'GLD', 'GM', 'MSFT', 'SLV', 'SPY',
       'USM'], dtype=object)

In [248]:
month_rtn_df.loc['2010-01-29 00:00:00', month_rtn_df.iloc[0] >= 1].index

Index(['BND', 'GLD', 'SPY'], dtype='object', name='CODE')

In [249]:
sig_dict = dict()

for date in month_rtn_df.index:
    # 데이터가 1인 종목코드를 로드 
    ticker_list = list(month_rtn_df.loc[date, month_rtn_df.loc[date] >= 1].index)
    # print(ticker_list)
    sig_dict[date] = ticker_list
sig_dict

{Timestamp('2010-01-29 00:00:00'): ['BND', 'GLD', 'SPY'],
 Timestamp('2010-02-26 00:00:00'): ['AAPL', 'GDX', 'SPY'],
 Timestamp('2010-03-31 00:00:00'): ['AAPL', 'AMZN', 'USM'],
 Timestamp('2010-04-30 00:00:00'): ['AAPL', 'GDX', 'MSFT'],
 Timestamp('2010-05-28 00:00:00'): ['BND', 'GDX', 'GLD'],
 Timestamp('2010-06-30 00:00:00'): ['BND', 'GDX', 'GLD'],
 Timestamp('2010-07-30 00:00:00'): ['MSFT', 'SPY', 'USM'],
 Timestamp('2010-08-31 00:00:00'): ['GDX', 'GLD', 'SLV'],
 Timestamp('2010-09-30 00:00:00'): ['AAPL', 'AMZN', 'SLV'],
 Timestamp('2010-10-29 00:00:00'): ['AMZN', 'MSFT', 'SLV'],
 Timestamp('2010-11-30 00:00:00'): ['AMZN', 'GDX', 'SLV'],
 Timestamp('2010-12-31 00:00:00'): ['MSFT', 'SLV', 'USM'],
 Timestamp('2011-01-31 00:00:00'): ['AAPL', 'BND', 'SPY'],
 Timestamp('2011-02-28 00:00:00'): ['GDX', 'GLD', 'SLV'],
 Timestamp('2011-03-31 00:00:00'): ['AMZN', 'SLV', 'USM'],
 Timestamp('2011-04-29 00:00:00'): ['AMZN', 'GLD', 'SLV'],
 Timestamp('2011-05-31 00:00:00'): ['AAPL', 'BND', 'USM'],
 Timestamp('2011-06-30 00:00:00'): ['AMZN', 'MSFT', 'SPY'],
 Timestamp('2011-07-29 00:00:00'): ['AAPL', 'GLD', 'SLV'],
 Timestamp('2011-08-31 00:00:00'): ['GDX', 'GLD', 'SLV'],
 Timestamp('2011-09-30 00:00:00'): ['AAPL', 'AMZN', 'BND'],
 Timestamp('2011-10-31 00:00:00'): ['GM', 'SLV', 'SPY'],
 Timestamp('2011-11-30 00:00:00'): ['GDX', 'SPY', 'USM'],
 Timestamp('2011-12-30 00:00:00'): ['AAPL', 'MSFT', 'USM'],
 Timestamp('2012-01-31 00:00:00'): ['AAPL', 'GM', 'SLV'],
 Timestamp('2012-02-29 00:00:00'): ['AAPL', 'GM', 'MSFT'],
 Timestamp('2012-03-30 00:00:00'): ['AAPL', 'AMZN', 'SPY'],
 Timestamp('2012-04-30 00:00:00'): ['AMZN', 'BND', 'GLD'],
 Timestamp('2012-05-31 00:00:00'): ['AAPL', 'BND', 'USM'],
 Timestamp('2012-06-29 00:00:00'): ['AMZN', 'MSFT', 'SPY'],
 Timestamp('2012-07-31 00:00:00'): ['AAPL', 'AMZN', 'USM'],
 Timestamp('2012-08-31 00:00:00'): ['AAPL', 'GDX', 'SLV'],
 Timestamp('2012-09-28 00:00:00'): ['GDX', 'GM', 'SLV'],
 Timestamp('2012-10-31 00:00:00'): ['BND', 'GDX', 'GM'],
 Timestamp('2012-11-30 00:00:00'): ['AMZN', 'GM', 'SLV'],
 Timestamp('2012-12-31 00:00:00'): ['GM', 'SPY', 'USM'],
 Timestamp('2013-01-31 00:00:00'): ['AMZN', 'SPY', 'USM'],
 Timestamp('2013-02-28 00:00:00'): ['BND', 'MSFT', 'SPY'],
 Timestamp('2013-03-28 00:00:00'): ['AAPL', 'MSFT', 'SPY'],
 Timestamp('2013-04-30 00:00:00'): ['GM', 'MSFT', 'USM'],
 Timestamp('2013-05-31 00:00:00'): ['AMZN', 'GM', 'MSFT'],
 Timestamp('2013-06-28 00:00:00'): ['AMZN', 'BND', 'USM'],
 Timestamp('2013-07-31 00:00:00'): ['AAPL', 'GDX', 'USM'],
 Timestamp('2013-08-30 00:00:00'): ['AAPL', 'GDX', 'SLV'],
 Timestamp('2013-09-30 00:00:00'): ['AMZN', 'GM', 'USM'],
 Timestamp('2013-10-31 00:00:00'): ['AAPL', 'AMZN', 'USM'],
 Timestamp('2013-11-29 00:00:00'): ['AAPL', 'AMZN', 'MSFT'],
 Timestamp('2013-12-31 00:00:00'): ['GDX', 'GM', 'SPY'],
 Timestamp('2014-01-31 00:00:00'): ['GDX', 'MSFT', 'USM'],
 Timestamp('2014-02-28 00:00:00'): ['GDX', 'SLV', 'SPY'],
 Timestamp('2014-03-31 00:00:00'): ['AAPL', 'MSFT', 'USM'],
 Timestamp('2014-04-30 00:00:00'): ['AAPL', 'BND', 'GDX'],
 Timestamp('2014-05-30 00:00:00'): ['AAPL', 'MSFT', 'USM'],
 Timestamp('2014-06-30 00:00:00'): ['GDX', 'GLD', 'SLV'],
 Timestamp('2014-07-31 00:00:00'): ['AAPL', 'BND', 'MSFT'],
 Timestamp('2014-08-29 00:00:00'): ['AAPL', 'AMZN', 'MSFT'],
 Timestamp('2014-09-30 00:00:00'): ['BND', 'MSFT', 'SPY'],
 Timestamp('2014-10-31 00:00:00'): ['AAPL', 'SPY', 'USM'],
 Timestamp('2014-11-28 00:00:00'): ['AAPL', 'AMZN', 'GM'],
 Timestamp('2014-12-31 00:00:00'): ['GM', 'SPY', 'USM'],
 Timestamp('2015-01-30 00:00:00'): ['AMZN', 'GDX', 'SLV'],
 Timestamp('2015-02-27 00:00:00'): ['AAPL', 'GM', 'USM'],
 Timestamp('2015-03-31 00:00:00'): ['BND', 'GM', 'SLV'],
 Timestamp('2015-04-30 00:00:00'): ['AMZN', 'GDX', 'MSFT'],
 Timestamp('2015-05-29 00:00:00'): ['GM', 'SLV', 'USM'],
 Timestamp('2015-06-30 00:00:00'): ['AMZN', 'BND', 'GLD'],
 Timestamp('2015-07-31 00:00:00'): ['AMZN', 'MSFT', 'SPY'],
 Timestamp('2015-08-31 00:00:00'): ['GDX', 'GLD', 'SLV'],
 Timestamp('2015-09-30 00:00:00'): ['AMZN', 'GM', 'MSFT'],
 Timestamp('2015-10-30 00:00:00'): ['AMZN', 'MSFT', 'USM'],
 Timestamp('2015-11-30 00:00:00'): ['AMZN', 'GM', 'MSFT'],
 Timestamp('2015-12-31 00:00:00'): ['AMZN', 'BND', 'MSFT'],
 Timestamp('2016-01-29 00:00:00'): ['BND', 'GLD', 'SLV'],
 Timestamp('2016-02-29 00:00:00'): ['GDX', 'GLD', 'USM'],
 Timestamp('2016-03-31 00:00:00'): ['AAPL', 'GDX', 'USM'],
 Timestamp('2016-04-29 00:00:00'): ['AMZN', 'GDX', 'SLV'],
 Timestamp('2016-05-31 00:00:00'): ['AAPL', 'AMZN', 'MSFT'],
 Timestamp('2016-06-30 00:00:00'): ['GDX', 'GLD', 'SLV'],
 Timestamp('2016-07-29 00:00:00'): ['AAPL', 'GM', 'MSFT'],
 Timestamp('2016-08-31 00:00:00'): ['AAPL', 'GM', 'MSFT'],
 Timestamp('2016-09-30 00:00:00'): ['AAPL', 'AMZN', 'SLV'],
 Timestamp('2016-10-31 00:00:00'): ['AAPL', 'BND', 'MSFT'],
 Timestamp('2016-11-30 00:00:00'): ['GM', 'SPY', 'USM'],
 Timestamp('2016-12-30 00:00:00'): ['AAPL', 'MSFT', 'USM'],
 Timestamp('2017-01-31 00:00:00'): ['AMZN', 'GDX', 'SLV'],
 Timestamp('2017-02-28 00:00:00'): ['AAPL', 'SLV', 'SPY'],
 Timestamp('2017-03-31 00:00:00'): ['AAPL', 'AMZN', 'MSFT'],
 Timestamp('2017-04-28 00:00:00'): ['AMZN', 'MSFT', 'USM'],
 Timestamp('2017-05-31 00:00:00'): ['AAPL', 'AMZN', 'GDX'],
 Timestamp('2017-06-30 00:00:00'): ['BND', 'GM', 'SPY'],
 Timestamp('2017-07-31 00:00:00'): ['GDX', 'GLD', 'MSFT'],
 Timestamp('2017-08-31 00:00:00'): ['AAPL', 'GDX', 'SLV'],
 Timestamp('2017-09-29 00:00:00'): ['GM', 'MSFT', 'SPY'],
 Timestamp('2017-10-31 00:00:00'): ['AAPL', 'AMZN', 'MSFT'],
 Timestamp('2017-11-30 00:00:00'): ['AAPL', 'AMZN', 'USM'],
 Timestamp('2017-12-29 00:00:00'): ['GDX', 'GLD', 'SLV'],
 Timestamp('2018-01-31 00:00:00'): ['AMZN', 'MSFT', 'SPY'],
 Timestamp('2018-02-28 00:00:00'): ['AAPL', 'AMZN', 'USM'],
 Timestamp('2018-03-29 00:00:00'): ['GDX', 'GLD', 'USM'],
 Timestamp('2018-04-30 00:00:00'): ['AMZN', 'GM', 'MSFT'],
 Timestamp('2018-05-31 00:00:00'): ['AAPL', 'GM', 'USM'],
 Timestamp('2018-06-29 00:00:00'): ['AMZN', 'BND', 'USM'],
 Timestamp('2018-07-31 00:00:00'): ['AMZN', 'MSFT', 'SPY'],
 Timestamp('2018-08-31 00:00:00'): ['AAPL', 'AMZN', 'USM'],
 Timestamp('2018-09-28 00:00:00'): ['GDX', 'SLV', 'USM'],
 Timestamp('2018-10-31 00:00:00'): ['GLD', 'GM', 'USM'],
 Timestamp('2018-11-30 00:00:00'): ['GM', 'MSFT', 'USM'],
 Timestamp('2018-12-31 00:00:00'): ['GDX', 'GLD', 'SLV'],
 Timestamp('2019-01-31 00:00:00'): ['AMZN', 'GM', 'USM'],
 Timestamp('2019-02-28 00:00:00'): ['AAPL', 'MSFT', 'SPY'],
 Timestamp('2019-03-29 00:00:00'): ['AAPL', 'AMZN', 'MSFT'],
 Timestamp('2019-04-30 00:00:00'): ['AAPL', 'AMZN', 'MSFT'],
 Timestamp('2019-05-31 00:00:00'): ['BND', 'GDX', 'GLD'],
 Timestamp('2019-06-24 00:00:00'): ['AAPL', 'GDX', 'MSFT']}

In [250]:
stock_df.head()

            CODE  Adj Close   STD-YM  1m_rtn
Date
2010-01-04  AAPL  26.782711  2010-01       0
2010-01-05  AAPL  26.829010  2010-01       0
2010-01-06  AAPL  26.402260  2010-01       0
2010-01-07  AAPL  26.353460  2010-01       0
2010-01-08  AAPL  26.528664  2010-01       0

In [251]:
stock_c_matrix = stock_df.reset_index().pivot_table(
    index='Date', 
    columns='CODE', 
    values=stock_df.columns[1])
stock_c_matrix

CODE,AAPL,AMZN,BND,GDX,GLD,GM,MSFT,SLV,SPY,USM
Date,,,,,,,,,,
2010-01-04,26.782711,133.899994,60.611969,44.908779,109.800003,NaN,24.525019,17.230000,93.675278,36.015179
2010-01-05,26.829010,134.690002,60.789135,45.341774,109.699997,NaN,24.532942,17.510000,93.923241,35.998024
2010-01-06,26.402260,132.250000,60.766037,46.443077,111.510002,NaN,24.382378,17.860001,93.989357,35.680672
2010-01-07,26.353460,130.000000,60.719822,46.217175,110.820000,NaN,24.128809,17.889999,94.386139,35.208931
2010-01-08,26.528664,133.520004,60.781410,46.913723,111.370003,NaN,24.295214,18.150000,94.700218,34.651424
...,...,...,...,...,...,...,...,...,...,...
2019-06-18,198.449997,1901.369995,82.397118,23.670000,127.120003,36.700001,135.160004,14.050000,290.984741,50.540001
2019-06-19,197.869995,1908.790039,82.676468,24.000000,127.889999,36.779999,135.690002,14.170000,291.641541,50.040001
2019-06-20,199.460007,1918.189941,82.806168,25.049999,131.110001,36.959999,136.949997,14.450000,294.427979,49.320000
2019-06-21,198.779999,1911.300049,82.576698,25.209999,131.979996,36.919998,136.970001,14.360000,294.000000,48.330002
2019-06-24,199.169998,1907.953857,82.726349,25.703501,133.501907,36.814999,138.289993,14.432900,293.640015,47.750000

In [252]:
book = create_trade_book(stock_c_matrix, stock_codes)

In [253]:
book.columns

Index(['AAPL', 'AMZN', 'BND', 'GDX', 'GLD', 'GM', 'MSFT', 'SLV', 'SPY', 'USM',
       'STD-YM', 'pAAPL', 'rAAPL', 'pAMZN', 'rAMZN', 'pBND', 'rBND', 'pGDX',
       'rGDX', 'pGLD', 'rGLD', 'pGM', 'rGM', 'pMSFT', 'rMSFT', 'pSLV', 'rSLV',
       'pSPY', 'rSPY', 'pUSM', 'rUSM'],
      dtype='object', name='CODE')

In [254]:
# 세번째 함수 
def trading(book, s_code):
    std_ym = ''
    buy_phase = False

    # 종목별 순회 
    for code in s_code:
        for i in book.index:
            # 해당 종목코드 포지션을 잡아준다.
            if (book.loc[i, 'p'+code] == '') & \
                  (book.shift(1).loc[i, 'p'+code] == 'ready'+code):
                std_ym = book.loc[i, 'STD-YM']
                buy_phase = True
            # 해당 종목코드에서 신호가 잡혀있다면 매수 상태를 유지 
            if (book.loc[i, 'p'+code] == '') & \
                (book.loc[i, 'STD-YM'] == std_ym) & \
                (buy_phase):
                book.loc[i, 'p'+code] = 'buy'+code

            # std_ym, buy_phase 초기화
            if book.loc[i, 'p'+code] == '':
                std_ym = None
                buy_phase = False
    return book

In [255]:
sig_dict.items()

dict_items([(Timestamp('2010-01-29 00:00:00'), ['BND', 'GLD', 'SPY']), (Timestamp('2010-02-26 00:00:00'), ['AAPL', 'GDX', 'SPY']), (Timestamp('2010-03-31 00:00:00'), ['AAPL', 'AMZN', 'USM']), (Timestamp('2010-04-30 00:00:00'), ['AAPL', 'GDX', 'MSFT']), (Timestamp('2010-05-28 00:00:00'), ['BND', 'GDX', 'GLD']), (Timestamp('2010-06-30 00:00:00'), ['BND', 'GDX', 'GLD']), (Timestamp('2010-07-30 00:00:00'), ['MSFT', 'SPY', 'USM']), (Timestamp('2010-08-31 00:00:00'), ['GDX', 'GLD', 'SLV']), (Timestamp('2010-09-30 00:00:00'), ['AAPL', 'AMZN', 'SLV']), (Timestamp('2010-10-29 00:00:00'), ['AMZN', 'MSFT', 'SLV']), (Timestamp('2010-11-30 00:00:00'), ['AMZN', 'GDX', 'SLV']), (Timestamp('2010-12-31 00:00:00'), ['MSFT', 'SLV', 'USM']), (Timestamp('2011-01-31 00:00:00'), ['AAPL', 'BND', 'SPY']), (Timestamp('2011-02-28 00:00:00'), ['GDX', 'GLD', 'SLV']), (Timestamp('2011-03-31 00:00:00'), ['AMZN', 'SLV', 'USM']), (Timestamp('2011-04-29 00:00:00'), ['AMZN', 'GLD', 'SLV']), (Timestamp('2011-05-31 00:00:00'), ['AAPL', 'BND', 'USM']), (Timestamp('2011-06-30 00:00:00'), ['AMZN', 'MSFT', 'SPY']), (Timestamp('2011-07-29 00:00:00'), ['AAPL', 'GLD', 'SLV']), (Timestamp('2011-08-31 00:00:00'), ['GDX', 'GLD', 'SLV']), (Timestamp('2011-09-30 00:00:00'), ['AAPL', 'AMZN', 'BND']), (Timestamp('2011-10-31 00:00:00'), ['GM', 'SLV', 'SPY']), (Timestamp('2011-11-30 00:00:00'), ['GDX', 'SPY', 'USM']), (Timestamp('2011-12-30 00:00:00'), ['AAPL', 'MSFT', 'USM']), (Timestamp('2012-01-31 00:00:00'), ['AAPL', 'GM', 'SLV']), (Timestamp('2012-02-29 00:00:00'), ['AAPL', 'GM', 'MSFT']), (Timestamp('2012-03-30 00:00:00'), ['AAPL', 'AMZN', 'SPY']), (Timestamp('2012-04-30 00:00:00'), ['AMZN', 'BND', 'GLD']), (Timestamp('2012-05-31 00:00:00'), ['AAPL', 'BND', 'USM']), (Timestamp('2012-06-29 00:00:00'), ['AMZN', 'MSFT', 'SPY']), (Timestamp('2012-07-31 00:00:00'), ['AAPL', 'AMZN', 'USM']), (Timestamp('2012-08-31 00:00:00'), ['AAPL', 'GDX', 'SLV']), (Timestamp('2012-09-28 00:00:00'), ['GDX', 'GM', 'SLV']), (Timestamp('2012-10-31 00:00:00'), ['BND', 'GDX', 'GM']), (Timestamp('2012-11-30 00:00:00'), ['AMZN', 'GM', 'SLV']), (Timestamp('2012-12-31 00:00:00'), ['GM', 'SPY', 'USM']), (Timestamp('2013-01-31 00:00:00'), ['AMZN', 'SPY', 'USM']), (Timestamp('2013-02-28 00:00:00'), ['BND', 'MSFT', 'SPY']), (Timestamp('2013-03-28 00:00:00'), ['AAPL', 'MSFT', 'SPY']), (Timestamp('2013-04-30 00:00:00'), ['GM', 'MSFT', 'USM']), (Timestamp('2013-05-31 00:00:00'), ['AMZN', 'GM', 'MSFT']), (Timestamp('2013-06-28 00:00:00'), ['AMZN', 'BND', 'USM']), (Timestamp('2013-07-31 00:00:00'), ['AAPL', 'GDX', 'USM']), (Timestamp('2013-08-30 00:00:00'), ['AAPL', 'GDX', 'SLV']), (Timestamp('2013-09-30 00:00:00'), ['AMZN', 'GM', 'USM']), (Timestamp('2013-10-31 00:00:00'), ['AAPL', 'AMZN', 'USM']), (Timestamp('2013-11-29 00:00:00'), ['AAPL', 'AMZN', 'MSFT']), (Timestamp('2013-12-31 00:00:00'), ['GDX', 'GM', 'SPY']), (Timestamp('2014-01-31 00:00:00'), ['GDX', 'MSFT', 'USM']), (Timestamp('2014-02-28 00:00:00'), ['GDX', 'SLV', 'SPY']), (Timestamp('2014-03-31 00:00:00'), ['AAPL', 'MSFT', 'USM']), (Timestamp('2014-04-30 00:00:00'), ['AAPL', 'BND', 'GDX']), (Timestamp('2014-05-30 00:00:00'), ['AAPL', 'MSFT', 'USM']), (Timestamp('2014-06-30 00:00:00'), ['GDX', 'GLD', 'SLV']), (Timestamp('2014-07-31 00:00:00'), ['AAPL', 'BND', 'MSFT']), (Timestamp('2014-08-29 00:00:00'), ['AAPL', 'AMZN', 'MSFT']), (Timestamp('2014-09-30 00:00:00'), ['BND', 'MSFT', 'SPY']), (Timestamp('2014-10-31 00:00:00'), ['AAPL', 'SPY', 'USM']), (Timestamp('2014-11-28 00:00:00'), ['AAPL', 'AMZN', 'GM']), (Timestamp('2014-12-31 00:00:00'), ['GM', 'SPY', 'USM']), (Timestamp('2015-01-30 00:00:00'), ['AMZN', 'GDX', 'SLV']), (Timestamp('2015-02-27 00:00:00'), ['AAPL', 'GM', 'USM']), (Timestamp('2015-03-31 00:00:00'), ['BND', 'GM', 'SLV']), (Timestamp('2015-04-30 00:00:00'), ['AMZN', 'GDX', 'MSFT']), (Timestamp('2015-05-29 00:00:00'), ['GM', 'SLV', 'USM']), (Timestamp('2015-06-30 00:00:00'), ['AMZN', 'BND', 'GLD']), (Timestamp('2015-07-31 00:00:00'), ['AMZN', 'MSFT', 'SPY']), (Timestamp('2015-08-31 00:00:00'), ['GDX', 'GLD', 'SLV']), (Timestamp('2015-09-30 00:00:00'), ['AMZN', 'GM', 'MSFT']), (Timestamp('2015-10-30 00:00:00'), ['AMZN', 'MSFT', 'USM']), (Timestamp('2015-11-30 00:00:00'), ['AMZN', 'GM', 'MSFT']), (Timestamp('2015-12-31 00:00:00'), ['AMZN', 'BND', 'MSFT']), (Timestamp('2016-01-29 00:00:00'), ['BND', 'GLD', 'SLV']), (Timestamp('2016-02-29 00:00:00'), ['GDX', 'GLD', 'USM']), (Timestamp('2016-03-31 00:00:00'), ['AAPL', 'GDX', 'USM']), (Timestamp('2016-04-29 00:00:00'), ['AMZN', 'GDX', 'SLV']), (Timestamp('2016-05-31 00:00:00'), ['AAPL', 'AMZN', 'MSFT']), (Timestamp('2016-06-30 00:00:00'), ['GDX', 'GLD', 'SLV']), (Timestamp('2016-07-29 00:00:00'), ['AAPL', 'GM', 'MSFT']), (Timestamp('2016-08-31 00:00:00'), ['AAPL', 'GM', 'MSFT']), (Timestamp('2016-09-30 00:00:00'), ['AAPL', 'AMZN', 'SLV']), (Timestamp('2016-10-31 00:00:00'), ['AAPL', 'BND', 'MSFT']), (Timestamp('2016-11-30 00:00:00'), ['GM', 'SPY', 'USM']), (Timestamp('2016-12-30 00:00:00'), ['AAPL', 'MSFT', 'USM']), (Timestamp('2017-01-31 00:00:00'), ['AMZN', 'GDX', 'SLV']), (Timestamp('2017-02-28 00:00:00'), ['AAPL', 'SLV', 'SPY']), (Timestamp('2017-03-31 00:00:00'), ['AAPL', 'AMZN', 'MSFT']), (Timestamp('2017-04-28 00:00:00'), ['AMZN', 'MSFT', 'USM']), (Timestamp('2017-05-31 00:00:00'), ['AAPL', 'AMZN', 'GDX']), (Timestamp('2017-06-30 00:00:00'), ['BND', 'GM', 'SPY']), (Timestamp('2017-07-31 00:00:00'), ['GDX', 'GLD', 'MSFT']), (Timestamp('2017-08-31 00:00:00'), ['AAPL', 'GDX', 'SLV']), (Timestamp('2017-09-29 00:00:00'), ['GM', 'MSFT', 'SPY']), (Timestamp('2017-10-31 00:00:00'), ['AAPL', 'AMZN', 'MSFT']), (Timestamp('2017-11-30 00:00:00'), ['AAPL', 'AMZN', 'USM']), (Timestamp('2017-12-29 00:00:00'), ['GDX', 'GLD', 'SLV']), (Timestamp('2018-01-31 00:00:00'), ['AMZN', 'MSFT', 'SPY']), (Timestamp('2018-02-28 00:00:00'), ['AAPL', 'AMZN', 'USM']), (Timestamp('2018-03-29 00:00:00'), ['GDX', 'GLD', 'USM']), (Timestamp('2018-04-30 00:00:00'), ['AMZN', 'GM', 'MSFT']), (Timestamp('2018-05-31 00:00:00'), ['AAPL', 'GM', 'USM']), (Timestamp('2018-06-29 00:00:00'), ['AMZN', 'BND', 'USM']), (Timestamp('2018-07-31 00:00:00'), ['AMZN', 'MSFT', 'SPY']), (Timestamp('2018-08-31 00:00:00'), ['AAPL', 'AMZN', 'USM']), (Timestamp('2018-09-28 00:00:00'), ['GDX', 'SLV', 'USM']), (Timestamp('2018-10-31 00:00:00'), ['GLD', 'GM', 'USM']), (Timestamp('2018-11-30 00:00:00'), ['GM', 'MSFT', 'USM']), (Timestamp('2018-12-31 00:00:00'), ['GDX', 'GLD', 'SLV']), (Timestamp('2019-01-31 00:00:00'), ['AMZN', 'GM', 'USM']), (Timestamp('2019-02-28 00:00:00'), ['AAPL', 'MSFT', 'SPY']), (Timestamp('2019-03-29 00:00:00'), ['AAPL', 'AMZN', 'MSFT']), (Timestamp('2019-04-30 00:00:00'), ['AAPL', 'AMZN', 'MSFT']), (Timestamp('2019-05-31 00:00:00'), ['BND', 'GDX', 'GLD']), (Timestamp('2019-06-24 00:00:00'), ['AAPL', 'GDX', 'MSFT'])])

In [256]:
# 포지션을 잡는 부분 
for date, values in sig_dict.items():
    for stock in values:
        book.loc[date, 'p'+stock] = 'ready'+stock

In [257]:
book = trading(book, stock_codes)

book.head()

CODE,AAPL,AMZN,BND,GDX,GLD,GM,MSFT,SLV,SPY,USM,...,pGM,rGM,pMSFT,rMSFT,pSLV,rSLV,pSPY,rSPY,pUSM,rUSM
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,26.782711,133.899994,60.611969,44.908779,109.800003,NaN,24.525019,17.230000,93.675278,36.015179,...,,,,,,,,,,
2010-01-05,26.829010,134.690002,60.789135,45.341774,109.699997,NaN,24.532942,17.510000,93.923241,35.998024,...,,,,,,,,,,
2010-01-06,26.402260,132.250000,60.766037,46.443077,111.510002,NaN,24.382378,17.860001,93.989357,35.680672,...,,,,,,,,,,
2010-01-07,26.353460,130.000000,60.719822,46.217175,110.820000,NaN,24.128809,17.889999,94.386139,35.208931,...,,,,,,,,,,
2010-01-08,26.528664,133.520004,60.781410,46.913723,111.370003,NaN,24.295214,18.150000,94.700218,34.651424,...,,,,,,,,,,

In [258]:
book['pAAPL'].value_counts()

pAAPL
             1368
buyAAPL       968
readyAAPL      48
Name: count, dtype: int64

In [259]:
book.head()

CODE,AAPL,AMZN,BND,GDX,GLD,GM,MSFT,SLV,SPY,USM,...,pGM,rGM,pMSFT,rMSFT,pSLV,rSLV,pSPY,rSPY,pUSM,rUSM
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,26.782711,133.899994,60.611969,44.908779,109.800003,NaN,24.525019,17.230000,93.675278,36.015179,...,,,,,,,,,,
2010-01-05,26.829010,134.690002,60.789135,45.341774,109.699997,NaN,24.532942,17.510000,93.923241,35.998024,...,,,,,,,,,,
2010-01-06,26.402260,132.250000,60.766037,46.443077,111.510002,NaN,24.382378,17.860001,93.989357,35.680672,...,,,,,,,,,,
2010-01-07,26.353460,130.000000,60.719822,46.217175,110.820000,NaN,24.128809,17.889999,94.386139,35.208931,...,,,,,,,,,,
2010-01-08,26.528664,133.520004,60.781410,46.913723,111.370003,NaN,24.295214,18.150000,94.700218,34.651424,...,,,,,,,,,,

In [260]:
# 수익율 계산 함수 
def multi_returns(book, s_code):
    rtn = 1
    buy_dict = dict()
    sell_dict = dict()

    for i in book.index:
        for code in s_code:
            # 매수
            if (book.shift(2).loc[i, "p"+code] == "") & \
                (book.shift(1).loc[i, "p"+code] == "ready"+code) & \
                (book.loc[i, 'p'+code] == "buy"+code):
                buy_dict[code] = book.loc[i, code]
                print(f'매수일 : {i}, 종목코드 : {code}, 매수가: {buy_dict[code]}')
            # 매도
            elif (book.shift(1).loc[i, "p"+code] == 'buy'+code) & \
                (book.loc[i, 'p'+code] == ""):
                sell_dict[code] = book.loc[i, code]
                # 수익율 계산
                rtn = sell_dict[code] / buy_dict[code]
                book.loc[i, 'r'+code] = rtn
                print(f'매도일 : {i}, 종목코드 : {code}, 매도가 : {sell_dict[code]}, 수익율 : {rtn}')
            # buy_dict, sell_dict 초기화
            if book.loc[i, 'p'+code] == "":
                buy_dict[code] = 0
                sell_dict[code] = 0

    return book

In [261]:
rtn_book = multi_returns(book, stock_codes)

매수일 : 2010-02-01 00:00:00, 종목코드 : BND, 매수가: 61.280487
매수일 : 2010-02-01 00:00:00, 종목코드 : GLD, 매수가: 108.349998
매수일 : 2010-02-01 00:00:00, 종목코드 : SPY, 매수가: 90.145805
매수일 : 2010-03-01 00:00:00, 종목코드 : AAPL, 매수가: 26.154476
매도일 : 2010-03-01 00:00:00, 종목코드 : BND, 매도가 : 61.585163, 수익율 : 1.0049718273289832
매수일 : 2010-03-01 00:00:00, 종목코드 : GDX, 매수가: 42.019035
매도일 : 2010-03-01 00:00:00, 종목코드 : GLD, 매도가 : 109.43, 수익율 : 1.0099677159200318
매수일 : 2010-04-01 00:00:00, 종목코드 : AMZN, 매수가: 131.809998
매도일 : 2010-04-01 00:00:00, 종목코드 : GDX, 매도가 : 43.675705, 수익율 : 1.0394266550862008
매도일 : 2010-04-01 00:00:00, 종목코드 : SPY, 매도가 : 97.770996, 수익율 : 1.0845873083056943
매수일 : 2010-04-01 00:00:00, 종목코드 : USM, 매수가: 36.212452
매도일 : 2010-05-03 00:00:00, 종목코드 : AMZN, 매도가 : 137.490005, 수익율 : 1.043092383629351
매수일 : 2010-05-03 00:00:00, 종목코드 : GDX, 매수가: 46.951374
매수일 : 2010-05-03 00:00:00, 종목코드 : MSFT, 매수가: 24.56805
매도일 : 2010-05-03 00:00:00, 종목코드 : USM, 매도가 : 36.744232, 수익율 : 1.0146850039317967
매도일 : 2010-06-01 00:00:00, 종목코드 : AAPL, 매도가 : 32.642082, 수익율 : 1.248049549912604
매수일 : 2010-06-01 00:00:00, 종목코드 : BND, 매수가: 62.79007
매수일 : 2010-06-01 00:00:00, 종목코드 : GLD, 매수가: 119.910004
매도일 : 2010-06-01 00:00:00, 종목코드 : MSFT, 매도가 : 20.70437, 수익율 : 0.8427355854453243
매도일 : 2010-08-02 00:00:00, 종목코드 : BND, 매도가 : 64.18457, 수익율 : 1.0222089257107054
매도일 : 2010-08-02 00:00:00, 종목코드 : GDX, 매도가 : 45.228813, 수익율 : 0.9633118085106519
매도일 : 2010-08-02 00:00:00, 종목코드 : GLD, 매도가 : 115.540001, 수익율 : 0.963555976530532
매수일 : 2010-08-02 00:00:00, 종목코드 : MSFT, 매수가: 21.05624
매수일 : 2010-08-02 00:00:00, 종목코드 : SPY, 매수가: 94.033234
매수일 : 2010-08-02 00:00:00, 종목코드 : USM, 매수가: 40.492416
매수일 : 2010-09-01 00:00:00, 종목코드 : GDX, 매수가: 49.746994
매수일 : 2010-09-01 00:00:00, 종목코드 : GLD, 매수가: 121.690002
매도일 : 2010-09-01 00:00:00, 종목코드 : MSFT, 매도가 : 19.214916, 수익율 : 0.9125520985703051
매수일 : 2010-09-01 00:00:00, 종목코드 : SLV, 매수가: 18.959999
매도일 : 2010-09-01 00:00:00, 종목코드 : SPY, 매도가 : 90.447327, 수익율 : 0.9618655357530297
매도일 : 2010-09-01 00:00:00, 종목코드 : USM, 매도가 : 36.667038, 수익율 : 0.9055285315650219
매수일 : 2010-10-01 00:00:00, 종목코드 : AAPL, 매수가: 35.356525
매수일 : 2010-10-01 00:00:00, 종목코드 : AMZN, 매수가: 153.710007
매도일 : 2010-10-01 00:00:00, 종목코드 : GDX, 매도가 : 53.276817, 수익율 : 1.0709555033616704
매도일 : 2010-10-01 00:00:00, 종목코드 : GLD, 매도가 : 128.910004, 수익율 : 1.0593311026488437
매도일 : 2010-11-01 00:00:00, 종목코드 : AAPL, 매도가 : 38.067219, 수익율 : 1.0766674326733185
매수일 : 2010-11-01 00:00:00, 종목코드 : MSFT, 매수가: 21.667025
매수일 : 2010-12-01 00:00:00, 종목코드 : GDX, 매수가: 56.740753
매도일 : 2010-12-01 00:00:00, 종목코드 : MSFT, 매도가 : 21.064047, 수익율 : 0.9721707064075479
매도일 : 2011-01-03 00:00:00, 종목코드 : AMZN, 매도가 : 184.220001, 수익율 : 1.1984906161639821
매도일 : 2011-01-03 00:00:00, 종목코드 : GDX, 매도가 : 57.587898, 수익율 : 1.014930097949176
매수일 : 2011-01-03 00:00:00, 종목코드 : MSFT, 매수가: 22.633337
매수일 : 2011-01-03 00:00:00, 종목코드 : USM, 매수가: 43.202774
매수일 : 2011-02-01 00:00:00, 종목코드 : AAPL, 매수가: 43.179466
매수일 : 2011-02-01 00:00:00, 종목코드 : BND, 매수가: 64.227013
매도일 : 2011-02-01 00:00:00, 종목코드 : MSFT, 매도가 : 22.641428, 수익율 : 1.0003574815326612
매도일 : 2011-02-01 00:00:00, 종목코드 : SLV, 매도가 : 27.870001, 수익율 : 1.4699368391316898
매수일 : 2011-02-01 00:00:00, 종목코드 : SPY, 매수가: 110.187263
매도일 : 2011-02-01 00:00:00, 종목코드 : USM, 매도가 : 42.568073, 수익율 : 0.9853087905883081
매도일 : 2011-03-01 00:00:00, 종목코드 : AAPL, 매도가 : 43.715107, 수익율 : 1.012404993614326
매도일 : 2011-03-01 00:00:00, 종목코드 : BND, 매도가 : 64.509674, 수익율 : 1.004400967549277
매수일 : 2011-03-01 00:00:00, 종목코드 : GDX, 매수가: 57.616322
매수일 : 2011-03-01 00:00:00, 종목코드 : GLD, 매수가: 140.029999
매수일 : 2011-03-01 00:00:00, 종목코드 : SLV, 매수가: 33.869999
매도일 : 2011-03-01 00:00:00, 종목코드 : SPY, 매도가 : 110.347397, 수익율 : 1.0014532895694124
매수일 : 2011-04-01 00:00:00, 종목코드 : AMZN, 매수가: 180.130005
매도일 : 2011-04-01 00:00:00, 종목코드 : GDX, 매도가 : 56.640263, 수익율 : 0.9830593316942376
매도일 : 2011-04-01 00:00:00, 종목코드 : GLD, 매도가 : 139.199997, 수익율 : 0.9940726843824371
매수일 : 2011-04-01 00:00:00, 종목코드 : USM, 매수가: 44.592262
매수일 : 2011-05-02 00:00:00, 종목코드 : GLD, 매수가: 150.410004
매도일 : 2011-05-02 00:00:00, 종목코드 : USM, 매도가 : 41.984829, 수익율 : 0.9415272317874344
매수일 : 2011-06-01 00:00:00, 종목코드 : AAPL, 매수가: 43.239544
매도일 : 2011-06-01 00:00:00, 종목코드 : AMZN, 매도가 : 192.399994, 수익율 : 1.0681174077578024
매수일 : 2011-06-01 00:00:00, 종목코드 : BND, 매수가: 66.480408
매도일 : 2011-06-01 00:00:00, 종목코드 : GLD, 매도가 : 149.910004, 수익율 : 0.9966757530303636
매도일 : 2011-06-01 00:00:00, 종목코드 : SLV, 매도가 : 35.75, 수익율 : 1.055506378963873
매수일 : 2011-06-01 00:00:00, 종목코드 : USM, 매수가: 41.847595
매도일 : 2011-07-01 00:00:00, 종목코드 : AAPL, 매도가 : 42.957966, 수익율 : 0.9934879516768261
매수일 : 2011-07-01 00:00:00, 종목코드 : AMZN, 매수가: 209.490005
매도일 : 2011-07-01 00:00:00, 종목코드 : BND, 매도가 : 65.942078, 수익율 : 0.9919024263509333
매수일 : 2011-07-01 00:00:00, 종목코드 : MSFT, 매수가: 21.311052
매수일 : 2011-07-01 00:00:00, 종목코드 : SPY, 매수가: 113.919701
매도일 : 2011-07-01 00:00:00, 종목코드 : USM, 매도가 : 42.387951, 수익율 : 1.012912474420573
매수일 : 2011-08-01 00:00:00, 종목코드 : AAPL, 매수가: 49.652069
매도일 : 2011-08-01 00:00:00, 종목코드 : AMZN, 매도가 : 221.320007, 수익율 : 1.0564704841168915
매수일 : 2011-08-01 00:00:00, 종목코드 : GLD, 매수가: 157.720001
매도일 : 2011-08-01 00:00:00, 종목코드 : MSFT, 매도가 : 22.334837, 수익율 : 1.048040096753553
매수일 : 2011-08-01 00:00:00, 종목코드 : SLV, 매수가: 38.290001
매도일 : 2011-08-01 00:00:00, 종목코드 : SPY, 매도가 : 109.547333, 수익율 : 0.9616188599371411
매도일 : 2011-09-01 00:00:00, 종목코드 : AAPL, 매도가 : 47.684769, 수익율 : 0.9603782875593765
매수일 : 2011-09-01 00:00:00, 종목코드 : GDX, 매수가: 60.06123
매수일 : 2011-10-03 00:00:00, 종목코드 : AAPL, 매수가: 46.880077
매수일 : 2011-10-03 00:00:00, 종목코드 : AMZN, 매수가: 211.979996
매수일 : 2011-10-03 00:00:00, 종목코드 : BND, 매수가: 68.937309
매도일 : 2011-10-03 00:00:00, 종목코드 : GDX, 매도가 : 51.598824, 수익율 : 0.859103684689774
매도일 : 2011-10-03 00:00:00, 종목코드 : GLD, 매도가 : 160.960007, 수익율 : 1.020542771870766
매도일 : 2011-10-03 00:00:00, 종목코드 : SLV, 매도가 : 29.49, 수익율 : 0.7701749602983818
매도일 : 2011-11-01 00:00:00, 종목코드 : AAPL, 매도가 : 49.622044, 수익율 : 1.058488961099616
매도일 : 2011-11-01 00:00:00, 종목코드 : AMZN, 매도가 : 212.100006, 수익율 : 1.0005661383256184
매도일 : 2011-11-01 00:00:00, 종목코드 : BND, 매도가 : 69.135567, 수익율 : 1.0028759173062587
매수일 : 2011-11-01 00:00:00, 종목코드 : GM, 매수가: 18.442364
매수일 : 2011-11-01 00:00:00, 종목코드 : SLV, 매수가: 32.330002
매수일 : 2011-11-01 00:00:00, 종목코드 : SPY, 매수가: 104.316795
매수일 : 2011-12-01 00:00:00, 종목코드 : GDX, 매수가: 57.142509
매도일 : 2011-12-01 00:00:00, 종목코드 : GM, 매도가 : 16.56888, 수익율 : 0.8984141078659981
매도일 : 2011-12-01 00:00:00, 종목코드 : SLV, 매도가 : 31.860001, 수익율 : 0.9854623887743651
매수일 : 2011-12-01 00:00:00, 종목코드 : USM, 매수가: 36.932926
매수일 : 2012-01-03 00:00:00, 종목코드 : AAPL, 매수가: 51.464207
매도일 : 2012-01-03 00:00:00, 종목코드 : GDX, 매도가 : 51.129227, 수익율 : 0.8947669238674837
매수일 : 2012-01-03 00:00:00, 종목코드 : MSFT, 매수가: 22.229851
매도일 : 2012-01-03 00:00:00, 종목코드 : SPY, 매도가 : 109.711006, 수익율 : 1.051709899637925
매수일 : 2012-02-01 00:00:00, 종목코드 : GM, 매수가: 19.264484
매도일 : 2012-02-01 00:00:00, 종목코드 : MSFT, 매도가 : 24.820702, 수익율 : 1.1165482845566532
매수일 : 2012-02-01 00:00:00, 종목코드 : SLV, 매수가: 32.77
매도일 : 2012-02-01 00:00:00, 종목코드 : USM, 매도가 : 40.09787, 수익율 : 1.0856943747159378
매수일 : 2012-03-01 00:00:00, 종목코드 : MSFT, 매수가: 26.990191
매도일 : 2012-03-01 00:00:00, 종목코드 : SLV, 매도가 : 34.439999, 수익율 : 1.0509612145254805
매수일 : 2012-04-02 00:00:00, 종목코드 : AMZN, 매수가: 198.050003
매도일 : 2012-04-02 00:00:00, 종목코드 : GM, 매도가 : 21.15378, 수익율 : 1.0980714562611695
매도일 : 2012-04-02 00:00:00, 종목코드 : MSFT, 매도가 : 26.990191, 수익율 : 1.0
매수일 : 2012-04-02 00:00:00, 종목코드 : SPY, 매수가: 122.585129
매도일 : 2012-05-01 00:00:00, 종목코드 : AAPL, 매도가 : 72.85183, 수익율 : 1.4155824843468394
매수일 : 2012-05-01 00:00:00, 종목코드 : BND, 매수가: 70.174034
매수일 : 2012-05-01 00:00:00, 종목코드 : GLD, 매수가: 161.320007
매도일 : 2012-05-01 00:00:00, 종목코드 : SPY, 매도가 : 121.634468, 수익율 : 0.992244891303251
매수일 : 2012-06-01 00:00:00, 종목코드 : AAPL, 매수가: 70.206215
매도일 : 2012-06-01 00:00:00, 종목코드 : AMZN, 매도가 : 208.220001, 수익율 : 1.05135065814667
매도일 : 2012-06-01 00:00:00, 종목코드 : GLD, 매도가 : 157.5, 수익율 : 0.9763203146897954
매수일 : 2012-06-01 00:00:00, 종목코드 : USM, 매수가: 31.786676
매도일 : 2012-07-02 00:00:00, 종목코드 : AAPL, 매도가 : 74.152107, 수익율 : 1.0562043118262394
매수일 : 2012-07-02 00:00:00, 종목코드 : AMZN, 매수가: 229.320007
매도일 : 2012-07-02 00:00:00, 종목코드 : BND, 매도가 : 71.125717, 수익율 : 1.0135617541952908
매수일 : 2012-07-02 00:00:00, 종목코드 : MSFT, 매수가: 25.711756
매수일 : 2012-07-02 00:00:00, 종목코드 : SPY, 매수가: 118.590034
매도일 : 2012-07-02 00:00:00, 종목코드 : USM, 매도가 : 34.231144, 수익율 : 1.0769022844666112
매수일 : 2012-08-01 00:00:00, 종목코드 : AAPL, 매수가: 75.94046
매도일 : 2012-08-01 00:00:00, 종목코드 : MSFT, 매도가 : 24.744194, 수익율 : 0.9623688868235992
매도일 : 2012-08-01 00:00:00, 종목코드 : SPY, 매도가 : 119.528236, 수익율 : 1.0079113055992548
매수일 : 2012-08-01 00:00:00, 종목코드 : USM, 매수가: 34.797234
매도일 : 2012-09-04 00:00:00, 종목코드 : AMZN, 매도가 : 247.880005, 수익율 : 1.0809349268858168
매수일 : 2012-09-04 00:00:00, 종목코드 : GDX, 매수가: 45.398571
매수일 : 2012-09-04 00:00:00, 종목코드 : SLV, 매수가: 31.360001
매도일 : 2012-09-04 00:00:00, 종목코드 : USM, 매도가 : 32.481419, 수익율 : 0.9334483022414942
매도일 : 2012-10-01 00:00:00, 종목코드 : AAPL, 매도가 : 82.874992, 수익율 : 1.0913153804967735
매수일 : 2012-10-01 00:00:00, 종목코드 : GM, 매수가: 18.252642
매수일 : 2012-11-01 00:00:00, 종목코드 : BND, 매수가: 71.913559
매도일 : 2012-11-01 00:00:00, 종목코드 : SLV, 매도가 : 31.219999, 수익율 : 0.9955356506525622
매수일 : 2012-12-03 00:00:00, 종목코드 : AMZN, 매수가: 250.330002
매도일 : 2012-12-03 00:00:00, 종목코드 : BND, 매도가 : 72.123268, 수익율 : 1.0029161260117858
매도일 : 2012-12-03 00:00:00, 종목코드 : GDX, 매도가 : 44.172607, 수익율 : 0.9729955376789283
매수일 : 2012-12-03 00:00:00, 종목코드 : SLV, 매수가: 32.52
매도일 : 2013-01-02 00:00:00, 종목코드 : AMZN, 매도가 : 257.309998, 수익율 : 1.0278831779819984
매도일 : 2013-01-02 00:00:00, 종목코드 : SLV, 매도가 : 29.92, 수익율 : 0.9200492004920049
매수일 : 2013-01-02 00:00:00, 종목코드 : SPY, 매수가: 128.468399
매수일 : 2013-01-02 00:00:00, 종목코드 : USM, 매수가: 30.963274
매수일 : 2013-02-01 00:00:00, 종목코드 : AMZN, 매수가: 265.0
매도일 : 2013-02-01 00:00:00, 종목코드 : GM, 매도가 : 22.268387, 수익율 : 1.2200089718518556
매도일 : 2013-03-01 00:00:00, 종목코드 : AMZN, 매도가 : 265.73999, 수익율 : 1.0027924150943395
매수일 : 2013-03-01 00:00:00, 종목코드 : BND, 매수가: 71.360786
매수일 : 2013-03-01 00:00:00, 종목코드 : MSFT, 매수가: 24.063715
매도일 : 2013-03-01 00:00:00, 종목코드 : USM, 매도가 : 31.109085, 수익율 : 1.00470915963215
매수일 : 2013-04-01 00:00:00, 종목코드 : AAPL, 매수가: 54.46909
매도일 : 2013-04-01 00:00:00, 종목코드 : BND, 매도가 : 71.298386, 수익율 : 0.9991255701695885
매도일 : 2013-05-01 00:00:00, 종목코드 : AAPL, 매도가 : 55.787277, 수익율 : 1.0242006429701689
매수일 : 2013-05-01 00:00:00, 종목코드 : GM, 매수가: 23.857288
매도일 : 2013-05-01 00:00:00, 종목코드 : SPY, 매도가 : 139.835846, 수익율 : 1.088484382840328
매수일 : 2013-05-01 00:00:00, 종목코드 : USM, 매수가: 32.738731
매수일 : 2013-06-03 00:00:00, 종목코드 : AMZN, 매수가: 266.880005
매도일 : 2013-06-03 00:00:00, 종목코드 : USM, 매도가 : 34.617115, 수익율 : 1.0573749788896827
매수일 : 2013-07-01 00:00:00, 종목코드 : BND, 매수가: 69.525826
매도일 : 2013-07-01 00:00:00, 종목코드 : GM, 매도가 : 26.877001, 수익율 : 1.1265740263520312
매도일 : 2013-07-01 00:00:00, 종목코드 : MSFT, 매도가 : 29.789886, 수익율 : 1.2379587274865913
매수일 : 2013-07-01 00:00:00, 종목코드 : USM, 매수가: 34.709999
매수일 : 2013-08-01 00:00:00, 종목코드 : AAPL, 매수가: 58.379593
매도일 : 2013-08-01 00:00:00, 종목코드 : AMZN, 매도가 : 305.570007, 수익율 : 1.144971527559736
매도일 : 2013-08-01 00:00:00, 종목코드 : BND, 매도가 : 69.332458, 수익율 : 0.9972187601194412
매수일 : 2013-08-01 00:00:00, 종목코드 : GDX, 매수가: 25.127806
매수일 : 2013-09-03 00:00:00, 종목코드 : SLV, 매수가: 23.389999
매도일 : 2013-09-03 00:00:00, 종목코드 : USM, 매도가 : 42.900002, 수익율 : 1.2359551494080998
매도일 : 2013-10-01 00:00:00, 종목코드 : AAPL, 매도가 : 62.790127, 수익율 : 1.0755492420099606
매수일 : 2013-10-01 00:00:00, 종목코드 : AMZN, 매수가: 320.950012
매도일 : 2013-10-01 00:00:00, 종목코드 : GDX, 매도가 : 23.437893, 수익율 : 0.9327472919840275
매수일 : 2013-10-01 00:00:00, 종목코드 : GM, 매수가: 28.386856
매도일 : 2013-10-01 00:00:00, 종목코드 : SLV, 매도가 : 20.41, 수익율 : 0.872595163428609
매수일 : 2013-10-01 00:00:00, 종목코드 : USM, 매수가: 45.830002
매수일 : 2013-11-01 00:00:00, 종목코드 : AAPL, 매수가: 66.916847
매도일 : 2013-11-01 00:00:00, 종목코드 : GM, 매도가 : 29.556797, 수익율 : 1.0412141802530015
매수일 : 2013-12-02 00:00:00, 종목코드 : MSFT, 매수가: 33.825386
매도일 : 2013-12-02 00:00:00, 종목코드 : USM, 매도가 : 43.66, 수익율 : 0.9526510603250682
매도일 : 2014-01-02 00:00:00, 종목코드 : AAPL, 매도가 : 71.591667, 수익율 : 1.069860135520133
매도일 : 2014-01-02 00:00:00, 종목코드 : AMZN, 매도가 : 397.970001, 수익율 : 1.2399750307533872
매수일 : 2014-01-02 00:00:00, 종목코드 : GDX, 매수가: 21.351316
매수일 : 2014-01-02 00:00:00, 종목코드 : GM, 매수가: 32.370987
매도일 : 2014-01-02 00:00:00, 종목코드 : MSFT, 매도가 : 32.69054, 수익율 : 0.9664498728854121
매수일 : 2014-01-02 00:00:00, 종목코드 : SPY, 매수가: 164.137863
매도일 : 2014-02-03 00:00:00, 종목코드 : GM, 매도가 : 27.865122, 수익율 : 0.8608054490275505
매수일 : 2014-02-03 00:00:00, 종목코드 : MSFT, 매수가: 32.092327
매도일 : 2014-02-03 00:00:00, 종목코드 : SPY, 매도가 : 156.286331, 수익율 : 0.9521650163070539
매수일 : 2014-02-03 00:00:00, 종목코드 : USM, 매수가: 43.099998
매도일 : 2014-03-03 00:00:00, 종목코드 : MSFT, 매도가 : 33.485191, 수익율 : 1.0434017763810024
매수일 : 2014-03-03 00:00:00, 종목코드 : SLV, 매수가: 20.620001
매수일 : 2014-03-03 00:00:00, 종목코드 : SPY, 매수가: 165.986282
매도일 : 2014-03-03 00:00:00, 종목코드 : USM, 매도가 : 39.5, 수익율 : 0.9164733603931954
매수일 : 2014-04-01 00:00:00, 종목코드 : AAPL, 매수가: 70.525444
매도일 : 2014-04-01 00:00:00, 종목코드 : GDX, 매도가 : 22.960176, 수익율 : 1.075351795645758
매수일 : 2014-04-01 00:00:00, 종목코드 : MSFT, 매수가: 36.711403
매도일 : 2014-04-01 00:00:00, 종목코드 : SLV, 매도가 : 19.059999, 수익율 : 0.9243452025050825
매도일 : 2014-04-01 00:00:00, 종목코드 : SPY, 매도가 : 169.666107, 수익율 : 1.022169452533433
매수일 : 2014-04-01 00:00:00, 종목코드 : USM, 매수가: 41.220001
매수일 : 2014-05-01 00:00:00, 종목코드 : BND, 매수가: 71.504578
매수일 : 2014-05-01 00:00:00, 종목코드 : GDX, 매수가: 23.057096
매도일 : 2014-05-01 00:00:00, 종목코드 : MSFT, 매도가 : 35.452824, 수익율 : 0.9657169463122943
매도일 : 2014-05-01 00:00:00, 종목코드 : USM, 매도가 : 41.98, 수익율 : 1.0184376269180584
매도일 : 2014-06-02 00:00:00, 종목코드 : BND, 매도가 : 71.90564, 수익율 : 1.0056088996147912
매도일 : 2014-06-02 00:00:00, 종목코드 : GDX, 매도가 : 21.603308, 수익율 : 0.9369483477017226
매수일 : 2014-06-02 00:00:00, 종목코드 : MSFT, 매수가: 36.40807
매수일 : 2014-06-02 00:00:00, 종목코드 : USM, 매수가: 41.740002
매도일 : 2014-07-01 00:00:00, 종목코드 : AAPL, 매도가 : 85.713371, 수익율 : 1.2153538657622631
매수일 : 2014-07-01 00:00:00, 종목코드 : GDX, 매수가: 25.43162
매수일 : 2014-07-01 00:00:00, 종목코드 : GLD, 매수가: 127.699997
매도일 : 2014-07-01 00:00:00, 종목코드 : MSFT, 매도가 : 37.372051, 수익율 : 1.0264771244397188
매수일 : 2014-07-01 00:00:00, 종목코드 : SLV, 매수가: 20.209999
매도일 : 2014-07-01 00:00:00, 종목코드 : USM, 매도가 : 40.23, 수익율 : 0.9638236241579481
매수일 : 2014-08-01 00:00:00, 종목코드 : AAPL, 매수가: 88.105499
매수일 : 2014-08-01 00:00:00, 종목코드 : BND, 매수가: 72.181633
매도일 : 2014-08-01 00:00:00, 종목코드 : GDX, 매도가 : 25.392851, 수익율 : 0.998475559166109
매도일 : 2014-08-01 00:00:00, 종목코드 : GLD, 매도가 : 124.379997, 수익율 : 0.9740015655599429
매수일 : 2014-08-01 00:00:00, 종목코드 : MSFT, 매수가: 38.255699
매도일 : 2014-08-01 00:00:00, 종목코드 : SLV, 매도가 : 19.52, 수익율 : 0.9658585336891902
매수일 : 2014-09-02 00:00:00, 종목코드 : AMZN, 매수가: 342.380005
매도일 : 2014-09-02 00:00:00, 종목코드 : BND, 매도가 : 72.514786, 수익율 : 1.0046154816142772
매도일 : 2014-10-01 00:00:00, 종목코드 : AAPL, 매도가 : 91.353058, 수익율 : 1.0368598899825765
매도일 : 2014-10-01 00:00:00, 종목코드 : AMZN, 매도가 : 317.459991, 수익율 : 0.9272153349025157
매수일 : 2014-10-01 00:00:00, 종목코드 : BND, 매수가: 72.65773
매수일 : 2014-10-01 00:00:00, 종목코드 : SPY, 매수가: 176.825958
매수일 : 2014-11-03 00:00:00, 종목코드 : AAPL, 매수가: 100.766525
매도일 : 2014-11-03 00:00:00, 종목코드 : BND, 매도가 : 72.836952, 수익율 : 1.002466661152227
매도일 : 2014-11-03 00:00:00, 종목코드 : MSFT, 매도가 : 42.608147, 수익율 : 1.113772538831404
매수일 : 2014-11-03 00:00:00, 종목코드 : USM, 매수가: 37.09
매수일 : 2014-12-01 00:00:00, 종목코드 : AMZN, 매수가: 326.0
매수일 : 2014-12-01 00:00:00, 종목코드 : GM, 매수가: 26.721176
매도일 : 2014-12-01 00:00:00, 종목코드 : SPY, 매도가 : 187.207153, 수익율 : 1.0587085466263952
매도일 : 2014-12-01 00:00:00, 종목코드 : USM, 매도가 : 38.5, 수익율 : 1.0380156376381773
매도일 : 2015-01-02 00:00:00, 종목코드 : AAPL, 매도가 : 101.138702, 수익율 : 1.0036934587155804
매도일 : 2015-01-02 00:00:00, 종목코드 : AMZN, 매도가 : 308.519989, 수익율 : 0.9463803343558282
매수일 : 2015-01-02 00:00:00, 종목코드 : SPY, 매수가: 187.938507
매수일 : 2015-01-02 00:00:00, 종목코드 : USM, 매수가: 39.799999
매수일 : 2015-02-02 00:00:00, 종목코드 : AMZN, 매수가: 364.470001
매수일 : 2015-02-02 00:00:00, 종목코드 : GDX, 매수가: 21.90139
매도일 : 2015-02-02 00:00:00, 종목코드 : GM, 매도가 : 27.098679, 수익율 : 1.0141274845089154
매수일 : 2015-02-02 00:00:00, 종목코드 : SLV, 매수가: 16.469999
매도일 : 2015-02-02 00:00:00, 종목코드 : SPY, 매도가 : 184.727371, 수익율 : 0.9829139006621992
매도일 : 2015-02-02 00:00:00, 종목코드 : USM, 매도가 : 35.299999, 수익율 : 0.8869346705259967
매수일 : 2015-03-02 00:00:00, 종목코드 : AAPL, 매수가: 119.889519
매도일 : 2015-03-02 00:00:00, 종목코드 : AMZN, 매도가 : 385.660004, 수익율 : 1.0581392239192822
매도일 : 2015-03-02 00:00:00, 종목코드 : GDX, 매도가 : 20.252691, 수익율 : 0.924721718575853
매수일 : 2015-03-02 00:00:00, 종목코드 : GM, 매수가: 30.781675
매도일 : 2015-03-02 00:00:00, 종목코드 : SLV, 매도가 : 15.66, 수익율 : 0.9508197298615501
매수일 : 2015-03-02 00:00:00, 종목코드 : USM, 매수가: 37.740002
매도일 : 2015-04-01 00:00:00, 종목코드 : AAPL, 매도가 : 115.394478, 수익율 : 0.9625068059535713
매수일 : 2015-04-01 00:00:00, 종목코드 : BND, 매수가: 74.701561
매수일 : 2015-04-01 00:00:00, 종목코드 : SLV, 매수가: 16.23
매도일 : 2015-04-01 00:00:00, 종목코드 : USM, 매도가 : 36.419998, 수익율 : 0.965023743241985
매수일 : 2015-05-01 00:00:00, 종목코드 : AMZN, 매수가: 422.869995
매도일 : 2015-05-01 00:00:00, 종목코드 : BND, 매도가 : 73.93969, 수익율 : 0.9898011368196175
매수일 : 2015-05-01 00:00:00, 종목코드 : GDX, 매수가: 19.774666
매도일 : 2015-05-01 00:00:00, 종목코드 : GM, 매도가 : 29.227293, 수익율 : 0.9495030078772516
매수일 : 2015-05-01 00:00:00, 종목코드 : MSFT, 매수가: 44.292522
매도일 : 2015-05-01 00:00:00, 종목코드 : SLV, 매도가 : 15.47, 수익율 : 0.9531731361675909
매도일 : 2015-06-01 00:00:00, 종목코드 : AMZN, 매도가 : 430.920013, 수익율 : 1.0190366261384896
매도일 : 2015-06-01 00:00:00, 종목코드 : GDX, 매도가 : 19.013725, 수익율 : 0.9615194006310903
매수일 : 2015-06-01 00:00:00, 종목코드 : GM, 매수가: 29.854414
매도일 : 2015-06-01 00:00:00, 종목코드 : MSFT, 매도가 : 43.270256, 수익율 : 0.9769201220919415
매수일 : 2015-06-01 00:00:00, 종목코드 : SLV, 매수가: 16.0
매수일 : 2015-06-01 00:00:00, 종목코드 : USM, 매수가: 38.48
매수일 : 2015-07-01 00:00:00, 종목코드 : AMZN, 매수가: 437.390015
매수일 : 2015-07-01 00:00:00, 종목코드 : BND, 매수가: 72.798828
매수일 : 2015-07-01 00:00:00, 종목코드 : GLD, 매수가: 111.980003
매도일 : 2015-07-01 00:00:00, 종목코드 : GM, 매도가 : 27.545765, 수익율 : 0.9226697599892599
매도일 : 2015-07-01 00:00:00, 종목코드 : SLV, 매도가 : 14.9, 수익율 : 0.93125
매도일 : 2015-07-01 00:00:00, 종목코드 : USM, 매도가 : 38.360001, 수익율 : 0.9968815228690229
매도일 : 2015-08-03 00:00:00, 종목코드 : BND, 매도가 : 73.787933, 수익율 : 1.0135868258758232
매도일 : 2015-08-03 00:00:00, 종목코드 : GLD, 매도가 : 104.099998, 수익율 : 0.9296302483578252
매수일 : 2015-08-03 00:00:00, 종목코드 : MSFT, 매수가: 42.88549
매수일 : 2015-08-03 00:00:00, 종목코드 : SPY, 매수가: 193.721725
매도일 : 2015-09-01 00:00:00, 종목코드 : AMZN, 매도가 : 496.540009, 수익율 : 1.1352339833363594
매수일 : 2015-09-01 00:00:00, 종목코드 : GDX, 매수가: 13.335948
매수일 : 2015-09-01 00:00:00, 종목코드 : GLD, 매수가: 109.199997
매도일 : 2015-09-01 00:00:00, 종목코드 : MSFT, 매도가 : 38.566498, 수익율 : 0.89929013286312
매수일 : 2015-09-01 00:00:00, 종목코드 : SLV, 매수가: 13.94
매도일 : 2015-09-01 00:00:00, 종목코드 : SPY, 매도가 : 177.08194, 수익율 : 0.9141047035380261
매수일 : 2015-10-01 00:00:00, 종목코드 : AMZN, 매수가: 520.719971
매도일 : 2015-10-01 00:00:00, 종목코드 : GDX, 매도가 : 13.082301, 수익율 : 0.9809802047818422
매도일 : 2015-10-01 00:00:00, 종목코드 : GLD, 매도가 : 106.730003, 수익율 : 0.9773810067046064
매수일 : 2015-10-01 00:00:00, 종목코드 : GM, 매수가: 25.88447
매수일 : 2015-10-01 00:00:00, 종목코드 : MSFT, 매수가: 41.139439
매도일 : 2015-10-01 00:00:00, 종목코드 : SLV, 매도가 : 13.9, 수익율 : 0.9971305595408896
매도일 : 2015-11-02 00:00:00, 종목코드 : GM, 매도가 : 30.019905, 수익율 : 1.1597651023953746
매수일 : 2015-11-02 00:00:00, 종목코드 : USM, 매수가: 43.360001
매수일 : 2015-12-01 00:00:00, 종목코드 : GM, 매수가: 30.602245
매도일 : 2015-12-01 00:00:00, 종목코드 : USM, 매도가 : 41.560001, 수익율 : 0.9584870858282499
매수일 : 2016-01-04 00:00:00, 종목코드 : BND, 매수가: 73.434929
매도일 : 2016-01-04 00:00:00, 종목코드 : GM, 매도가 : 28.408638, 수익율 : 0.9283187556991326
매도일 : 2016-02-01 00:00:00, 종목코드 : AMZN, 매도가 : 574.809998, 수익율 : 1.1038754609240826
매수일 : 2016-02-01 00:00:00, 종목코드 : GLD, 매수가: 108.050003
매도일 : 2016-02-01 00:00:00, 종목코드 : MSFT, 매도가 : 50.793755, 수익율 : 1.2346730104900068
매수일 : 2016-02-01 00:00:00, 종목코드 : SLV, 매수가: 13.67

In [262]:
# 누적 수익율 함수 
def multi_acc_returns(book, s_code):
    # 누적수익율 변수 
    acc_rtn = 1
    for i in book.index:
        count = 0
        rtn = 0
        for code in s_code:
            if book.loc[i, 'r'+code]:
                count += 1
                rtn += book.loc[i, 'r'+code]
        if (rtn != 0) & (count != 0):
            acc_rtn *= (rtn / count)
            print(f'누적 매도일 : {i}, 매도 종목수 : {count}, 수익율 : {rtn/count}')
        book.loc[i, 'acc_rtn'] = acc_rtn
    print(f'총 누적 수익율은 {acc_rtn}')

    return book

In [263]:
multi_acc_returns(book, stock_codes)

누적 매도일 : 2010-03-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.0074697716245073
누적 매도일 : 2010-04-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.0620069816959474
누적 매도일 : 2010-05-03 00:00:00, 매도 종목수 : 2, 수익율 : 1.028888693780574
누적 매도일 : 2010-06-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.0453925676789642
누적 매도일 : 2010-08-02 00:00:00, 매도 종목수 : 3, 수익율 : 0.9830255702506298
누적 매도일 : 2010-09-01 00:00:00, 매도 종목수 : 3, 수익율 : 0.9266487219627856
누적 매도일 : 2010-10-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.065143303005257
누적 매도일 : 2010-11-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0766674326733185
누적 매도일 : 2010-12-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.9721707064075479
누적 매도일 : 2011-01-03 00:00:00, 매도 종목수 : 2, 수익율 : 1.106710357056579
누적 매도일 : 2011-02-01 00:00:00, 매도 종목수 : 3, 수익율 : 1.1518677037508864
누적 매도일 : 2011-03-01 00:00:00, 매도 종목수 : 3, 수익율 : 1.006086416911005
누적 매도일 : 2011-04-01 00:00:00, 매도 종목수 : 2, 수익율 : 0.9885660080383374
누적 매도일 : 2011-05-02 00:00:00, 매도 종목수 : 1, 수익율 : 0.9415272317874344
누적 매도일 : 2011-06-01 00:00:00, 매도 종목수 : 3, 수익율 : 1.040099846584013
누적 매도일 : 2011-07-01 00:00:00, 매도 종목수 : 3, 수익율 : 0.9994342841494442
누적 매도일 : 2011-08-01 00:00:00, 매도 종목수 : 3, 수익율 : 1.022043146935862
누적 매도일 : 2011-09-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.9603782875593765
누적 매도일 : 2011-10-03 00:00:00, 매도 종목수 : 3, 수익율 : 0.8832738056196406
누적 매도일 : 2011-11-01 00:00:00, 매도 종목수 : 3, 수익율 : 1.020643672243831
누적 매도일 : 2011-12-01 00:00:00, 매도 종목수 : 2, 수익율 : 0.9419382483201816
누적 매도일 : 2012-01-03 00:00:00, 매도 종목수 : 2, 수익율 : 0.9732384117527044
누적 매도일 : 2012-02-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.1011213296362956
누적 매도일 : 2012-03-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0509612145254805
누적 매도일 : 2012-04-02 00:00:00, 매도 종목수 : 2, 수익율 : 1.0490357281305847
누적 매도일 : 2012-05-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.2039136878250452
누적 매도일 : 2012-06-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.0138354864182326
누적 매도일 : 2012-07-02 00:00:00, 매도 종목수 : 3, 수익율 : 1.0488894501627137
누적 매도일 : 2012-08-01 00:00:00, 매도 종목수 : 2, 수익율 : 0.985140096211427
누적 매도일 : 2012-09-04 00:00:00, 매도 종목수 : 2, 수익율 : 1.0071916145636555
누적 매도일 : 2012-10-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0913153804967735
누적 매도일 : 2012-11-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.9955356506525622
누적 매도일 : 2012-12-03 00:00:00, 매도 종목수 : 2, 수익율 : 0.9879558318453571
누적 매도일 : 2013-01-02 00:00:00, 매도 종목수 : 2, 수익율 : 0.9739661892370016
누적 매도일 : 2013-02-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.2200089718518556
누적 매도일 : 2013-03-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.0037507873632447
누적 매도일 : 2013-04-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.9991255701695885
누적 매도일 : 2013-05-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.0563425129052484
누적 매도일 : 2013-06-03 00:00:00, 매도 종목수 : 1, 수익율 : 1.0573749788896827
누적 매도일 : 2013-07-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.1822663769193111
누적 매도일 : 2013-08-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.0710951438395886
누적 매도일 : 2013-09-03 00:00:00, 매도 종목수 : 1, 수익율 : 1.2359551494080998
누적 매도일 : 2013-10-01 00:00:00, 매도 종목수 : 3, 수익율 : 0.9602972324741991
누적 매도일 : 2013-11-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0412141802530015
누적 매도일 : 2013-12-02 00:00:00, 매도 종목수 : 1, 수익율 : 0.9526510603250682
누적 매도일 : 2014-01-02 00:00:00, 매도 종목수 : 3, 수익율 : 1.0920950130529772
누적 매도일 : 2014-02-03 00:00:00, 매도 종목수 : 2, 수익율 : 0.9064852326673022
누적 매도일 : 2014-03-03 00:00:00, 매도 종목수 : 2, 수익율 : 0.9799375683870989
누적 매도일 : 2014-04-01 00:00:00, 매도 종목수 : 3, 수익율 : 1.0072888168947578
누적 매도일 : 2014-05-01 00:00:00, 매도 종목수 : 2, 수익율 : 0.9920772866151764
누적 매도일 : 2014-06-02 00:00:00, 매도 종목수 : 2, 수익율 : 0.9712786236582569
누적 매도일 : 2014-07-01 00:00:00, 매도 종목수 : 3, 수익율 : 1.0685515381199766
누적 매도일 : 2014-08-01 00:00:00, 매도 종목수 : 3, 수익율 : 0.9794452194717472
누적 매도일 : 2014-09-02 00:00:00, 매도 종목수 : 1, 수익율 : 1.0046154816142772
누적 매도일 : 2014-10-01 00:00:00, 매도 종목수 : 2, 수익율 : 0.9820376124425461
누적 매도일 : 2014-11-03 00:00:00, 매도 종목수 : 2, 수익율 : 1.0581195999918154
누적 매도일 : 2014-12-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.0483620921322863
누적 매도일 : 2015-01-02 00:00:00, 매도 종목수 : 2, 수익율 : 0.9750368965357044
누적 매도일 : 2015-02-02 00:00:00, 매도 종목수 : 3, 수익율 : 0.9613253518990371
누적 매도일 : 2015-03-02 00:00:00, 매도 종목수 : 3, 수익율 : 0.9778935574522284
누적 매도일 : 2015-04-01 00:00:00, 매도 종목수 : 2, 수익율 : 0.9637652745977782
누적 매도일 : 2015-05-01 00:00:00, 매도 종목수 : 3, 수익율 : 0.9641590936214867
누적 매도일 : 2015-06-01 00:00:00, 매도 종목수 : 3, 수익율 : 0.9858253829538404
누적 매도일 : 2015-07-01 00:00:00, 매도 종목수 : 3, 수익율 : 0.9502670942860942
누적 매도일 : 2015-08-03 00:00:00, 매도 종목수 : 2, 수익율 : 0.9716085371168242
누적 매도일 : 2015-09-01 00:00:00, 매도 종목수 : 3, 수익율 : 0.9828762732458353
누적 매도일 : 2015-10-01 00:00:00, 매도 종목수 : 3, 수익율 : 0.9851639236757794
누적 매도일 : 2015-11-02 00:00:00, 매도 종목수 : 1, 수익율 : 1.1597651023953746
누적 매도일 : 2015-12-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.9584870858282499
누적 매도일 : 2016-01-04 00:00:00, 매도 종목수 : 1, 수익율 : 0.9283187556991326
누적 매도일 : 2016-02-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.1692742357070447
누적 매도일 : 2016-03-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.0271474057306276
누적 매도일 : 2016-04-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0821841439467614
누적 매도일 : 2016-05-02 00:00:00, 매도 종목수 : 2, 수익율 : 0.9514395765915183
누적 매도일 : 2016-06-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.0675687235397708
누적 매도일 : 2016-07-01 00:00:00, 매도 종목수 : 3, 수익율 : 1.0010297351726976
누적 매도일 : 2016-08-01 00:00:00, 매도 종목수 : 3, 수익율 : 1.0359478718048438
누적 매도일 : 2016-10-03 00:00:00, 매도 종목수 : 2, 수익율 : 1.02853450788065
누적 매도일 : 2016-11-01 00:00:00, 매도 종목수 : 2, 수익율 : 0.9564566187743442
누적 매도일 : 2016-12-01 00:00:00, 매도 종목수 : 3, 수익율 : 1.003658123060386
누적 매도일 : 2017-01-03 00:00:00, 매도 종목수 : 2, 수익율 : 1.0036002812649378
누적 매도일 : 2017-02-01 00:00:00, 매도 종목수 : 3, 수익율 : 1.0841335150098546
누적 매도일 : 2017-03-01 00:00:00, 매도 종목수 : 2, 수익율 : 0.9942136946708888
누적 매도일 : 2017-04-03 00:00:00, 매도 종목수 : 2, 수익율 : 1.011820017122003
누적 매도일 : 2017-05-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0485732262384928
누적 매도일 : 2017-06-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.0606689125276603
누적 매도일 : 2017-07-03 00:00:00, 매도 종목수 : 3, 수익율 : 0.9856540122827923
누적 매도일 : 2017-08-01 00:00:00, 매도 종목수 : 3, 수익율 : 1.0028096603857821
누적 매도일 : 2017-09-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.0345029500508702
누적 매도일 : 2017-10-02 00:00:00, 매도 종목수 : 3, 수익율 : 0.9612857236016384
누적 매도일 : 2017-11-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.0218700094751578
누적 매도일 : 2017-12-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.1350107760003478
누적 매도일 : 2018-01-02 00:00:00, 매도 종목수 : 3, 수익율 : 1.0327086899348286
누적 매도일 : 2018-02-01 00:00:00, 매도 종목수 : 3, 수익율 : 1.0069206500296033
누적 매도일 : 2018-03-01 00:00:00, 매도 종목수 : 2, 수익율 : 0.9701876652001715
누적 매도일 : 2018-04-02 00:00:00, 매도 종목수 : 2, 수익율 : 0.9697501905979578
누적 매도일 : 2018-05-01 00:00:00, 매도 종목수 : 3, 수익율 : 0.9449313569474699
누적 매도일 : 2018-06-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.0515057222907362
누적 매도일 : 2018-07-02 00:00:00, 매도 종목수 : 2, 수익율 : 1.0389737281082465
누적 매도일 : 2018-08-01 00:00:00, 매도 종목수 : 2, 수익율 : 0.9795193967256655
누적 매도일 : 2018-09-04 00:00:00, 매도 종목수 : 2, 수익율 : 1.0435013350300837
누적 매도일 : 2018-10-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.0823690434676785
누적 매도일 : 2018-11-01 00:00:00, 매도 종목수 : 2, 수익율 : 1.035202497496581
누적 매도일 : 2018-12-03 00:00:00, 매도 종목수 : 1, 수익율 : 0.9981137528452478
누적 매도일 : 2019-01-02 00:00:00, 매도 종목수 : 3, 수익율 : 1.02303723855824
누적 매도일 : 2019-02-01 00:00:00, 매도 종목수 : 3, 수익율 : 1.041020475426267
누적 매도일 : 2019-03-01 00:00:00, 매도 종목수 : 3, 수익율 : 0.9573374119066225
누적 매도일 : 2019-04-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0237821425801066
누적 매도일 : 2019-06-03 00:00:00, 매도 종목수 : 3, 수익율 : 0.9987334056873917
총 누적 수익율은 7.2885634582808025

CODE,AAPL,AMZN,BND,GDX,GLD,GM,MSFT,SLV,SPY,USM,...,rGM,pMSFT,rMSFT,pSLV,rSLV,pSPY,rSPY,pUSM,rUSM,acc_rtn
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,26.782711,133.899994,60.611969,44.908779,109.800003,NaN,24.525019,17.230000,93.675278,36.015179,...,,,,,,,,,,1.000000
2010-01-05,26.829010,134.690002,60.789135,45.341774,109.699997,NaN,24.532942,17.510000,93.923241,35.998024,...,,,,,,,,,,1.000000
2010-01-06,26.402260,132.250000,60.766037,46.443077,111.510002,NaN,24.382378,17.860001,93.989357,35.680672,...,,,,,,,,,,1.000000
2010-01-07,26.353460,130.000000,60.719822,46.217175,110.820000,NaN,24.128809,17.889999,94.386139,35.208931,...,,,,,,,,,,1.000000
2010-01-08,26.528664,133.520004,60.781410,46.913723,111.370003,NaN,24.295214,18.150000,94.700218,34.651424,...,,,,,,,,,,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-18,198.449997,1901.369995,82.397118,23.670000,127.120003,36.700001,135.160004,14.050000,290.984741,50.540001,...,,,,,,,,,,7.288563
2019-06-19,197.869995,1908.790039,82.676468,24.000000,127.889999,36.779999,135.690002,14.170000,291.641541,50.040001,...,,,,,,,,,,7.288563
2019-06-20,199.460007,1918.189941,82.806168,25.049999,131.110001,36.959999,136.949997,14.450000,294.427979,49.320000,...,,,,,,,,,,7.288563
2019-06-21,198.779999,1911.300049,82.576698,25.209999,131.979996,36.919998,136.970001,14.360000,294.000000,48.330002,...,,,,,,,,,,7.288563
2019-06-24,199.169998,1907.953857,82.726349,25.703501,133.501907,36.814999,138.289993,14.432900,293.640015,47.750000,...,,readyMSFT,,,,,,,,7.288563