In [1]:
import talib
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns 
import FinanceDataReader as fdr
from datetime import datetime, timedelta
import requests
from bs4 import BeautifulSoup

In [2]:
# 코스피 상위 200개 종목 추출
kospi200_tickers = fdr.StockListing('KOSPI').head(200)
kospi200_tickers

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,72000,2,-800,-1.10,72400,72500,71700,9871284,710939612000,429824343600000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,428500,2,-26000,-5.72,444000,448000,428500,498100,215049437500,100269000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,132600,2,-1300,-0.97,132200,133000,130800,3641222,480440675249,96533113599000,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,711000,2,-14000,-1.93,725000,727000,711000,48585,34875411708,50604714000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,57900,3,0,0.00,58000,58000,57600,989923,57228720713,47645139930000,822886700,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,089860,KR7089860001,롯데렌탈,KOSPI,,27350,1,100,0.37,27250,27350,27050,29184,794398200,1001941623050,36634063,STK
196,294870,KR7294870001,HDC현대산업개발,KOSPI,,15150,2,-260,-1.69,15400,15510,15000,348966,5324389610,998496049500,65907330,STK
197,100090,KR7100090000,SK오션플랜트,KOSPI,,16450,2,-170,-1.02,16700,16730,16320,111196,1834735080,973767093600,59195568,STK
198,003090,KR7003090008,대웅,KOSPI,,16680,2,-20,-0.12,16720,17070,16630,112508,1896216920,969808226400,58141980,STK
199,009900,KR7009900002,명신산업,KOSPI,,18440,2,-810,-4.21,18910,18980,18410,293444,5465768910,967549252520,52470133,STK

In [3]:
# 코스피 상위 200개 종목들의 최근 1년간 일별 종가 데이터 가져오기
kospi200_prices = {}
for index, row in kospi200_tickers.iterrows():
    code = row['Code']
    name = row['Name']
    
    try:
        prices = fdr.DataReader(code, '2022-12-01', '2023-12-01')['Close']
        kospi200_prices[code] = {'Name': name, 'Prices': prices}
    except:
        print(f"Failed to fetch data for {code} - {name}")

kospi200_prices

{'005930': {'Name': '삼성전자',
  'Prices': Date
  2022-12-01    62600
  2022-12-02    60400
  2022-12-05    60300
  2022-12-06    59200
  2022-12-07    58900
                ...
  2023-11-27    71300
  2023-11-28    72700
  2023-11-29    72700
  2023-11-30    72800
  2023-12-01    72000
  Name: Close, Length: 248, dtype: int64},
 '373220': {'Name': 'LG에너지솔루션',
  'Prices': Date
  2022-12-01    585000
  2022-12-02    584000
  2022-12-05    562000
  2022-12-06    559000
  2022-12-07    563000
                 ...
  2023-11-27    434500
  2023-11-28    435000
  2023-11-29    447000
  2023-11-30    454500
  2023-12-01    428500
  Name: Close, Length: 248, dtype: int64},
 '000660': {'Name': 'SK하이닉스',
  'Prices': Date
  2022-12-01     84700
  2022-12-02     81900
  2022-12-05     81000
  2022-12-06     81000
  2022-12-07     78900
                 ...
  2023-11-27    130700
  2023-11-28    131400
  2023-11-29    130400
  2023-11-30    133900
  2023-12-01    132600
  Name: Close, Length: 248, dtype: int64},
 '207940': {'Name': '삼성바이오로직스',
  'Prices': Date
  2022-12-01    884000
  2022-12-02    870000
  2022-12-05    833000
  2022-12-06    838000
  2022-12-07    831000
                 ...
  2023-11-27    703000
  2023-11-28    727000
  2023-11-29    729000
  2023-11-30    725000
  2023-12-01    711000
  Name: Close, Length: 248, dtype: int64},
 '005935': {'Name': '삼성전자우',
  'Prices': Date
  2022-12-01    56200
  2022-12-02    55600
  2022-12-05    54600
  2022-12-06    54000
  2022-12-07    53600
                ...
  2023-11-27    57000
  2023-11-28    57900
  2023-11-29    57800
  2023-11-30    57900
  2023-12-01    57900
  Name: Close, Length: 248, dtype: int64},
 '005490': {'Name': 'POSCO홀딩스',
  'Prices': Date
  2022-12-01    301000
  2022-12-02    295000
  2022-12-05    293500
  2022-12-06    286500
  2022-12-07    290000
                 ...
  2023-11-27    468000
  2023-11-28    478000
  2023-11-29    483000
  2023-11-30    483000
  2023-12-01    474000
  Name: Close, Length: 248, dtype: int64},
 '005380': {'Name': '현대차',
  'Prices': Date
  2022-12-01    171500
  2022-12-02    169000
  2022-12-05    165500
  2022-12-06    164500
  2022-12-07    163000
                 ...
  2023-11-27    184900
  2023-11-28    185700
  2023-11-29    184800
  2023-11-30    184300
  2023-12-01    182800
  Name: Close, Length: 248, dtype: int64},
 '000270': {'Name': '기아',
  'Prices': Date
  2022-12-01    68600
  2022-12-02    66500
  2022-12-05    65600
  2022-12-06    65100
  2022-12-07    65000
                ...
  2023-11-27    84100
  2023-11-28    84600
  2023-11-29    86000
  2023-11-30    85900
  2023-12-01    85800
  Name: Close, Length: 248, dtype: int64},
 '051910': {'Name': 'LG화학',
  'Prices': Date
  2022-12-01    722000
  2022-12-02    711000
  2022-12-05    696000
  2022-12-06    686000
  2022-12-07    679000
                 ...
  2023-11-27    506000
  2023-11-28    504000
  2023-11-29    504000
  2023-11-30    501000
  2023-12-01    486500
  Name: Close, Length: 248, dtype: int64},
 '035420': {'Name': 'NAVER',
  'Prices': Date
  2022-12-01    187500
  2022-12-02    185500
  2022-12-05    191500
  2022-12-06    185500
  2022-12-07    183500
                 ...
  2023-11-27    206000
  2023-11-28    207500
  2023-11-29    207500
  2023-11-30    208000
  2023-12-01    206000
  Name: Close, Length: 248, dtype: int64},
 '006400': {'Name': '삼성SDI',
  'Prices': Date
  2022-12-01    726000
  2022-12-02    718000
  2022-12-05    697000
  2022-12-06    706000
  2022-12-07    708000
                 ...
  2023-11-27    453500
  2023-11-28    455000
  2023-11-29    471500
  2023-11-30    472000
  2023-12-01    447000
  Name: Close, Length: 248, dtype: int64},
 '003670': {'Name': '포스코퓨처엠',
  'Prices': Date
  2022-12-01    220500
  2022-12-02    214500
  2022-12-05    206500
  2022-12-06    206000
  2022-12-07    209000
                 ...
  2023-11-27    300000
  2023-11-28    304500
  2023-11-29    327500
  2023-11-30    324500
  2023-12-01    314000
  Name: Close, Length: 248, dtype: int64},
 '068270': {'Name': '셀트리온',
  'Prices': Date
  2022-12-01    171945
  2022-12-02    167610
  2022-12-05    167129
  2022-12-06    165684
  2022-12-07    168092
                 ...
  2023-11-27    162800
  2023-11-28    165000
  2023-11-29    161700
  2023-11-30    162900
  2023-12-01    163100
  Name: Close, Length: 248, dtype: int64},
 '035720': {'Name': '카카오',
  'Prices': Date
  2022-12-01    57900
  2022-12-02    56900
  2022-12-05    58000
  2022-12-06    56000
  2022-12-07    55500
                ...
  2023-11-27    49850
  2023-11-28    51100
  2023-11-29    50500
  2023-11-30    50500
  2023-12-01    49700
  Name: Close, Length: 248, dtype: int64},
 '028260': {'Name': '삼성물산',
  'Prices': Date
  2022-12-01    121500
  2022-12-02    117500
  2022-12-05    116500
  2022-12-06    116000
  2022-12-07    116000
                 ...
  2023-11-27    117000
  2023-11-28    119000
  2023-11-29    117800
  2023-11-30    119300
  2023-12-01    118600
  Name: Close, Length: 248, dtype: int64},
 '012330': {'Name': '현대모비스',
  'Prices': Date
  2022-12-01    213500
  2022-12-02    213500
  2022-12-05    209000
  2022-12-06    206000
  2022-12-07    207500
                 ...
  2023-11-27    232000
  2023-11-28    233500
  2023-11-29    230500
  2023-11-30    229000
  2023-12-01    227000
  Name: Close, Length: 248, dtype: int64},
 '105560': {'Name': 'KB금융',
  'Prices': Date
  2022-12-01    53500
  2022-12-02    52400
  2022-12-05    52500
  2022-12-06    52100
  2022-12-07    50800
                ...
  2023-11-27    52400
  2023-11-28    52400
  2023-11-29    51700
  2023-11-30    52400
  2023-12-01    51900
  Name: Close, Length: 248, dtype: int64},
 '055550': {'Name': '신한지주',
  'Prices': Date
  2022-12-01    38350
  2022-12-02    38100
  2022-12-05    38200
  2022-12-06    37900
  2022-12-07    37250
                ...
  2023-11-27    36750
  2023-11-28    37000
  2023-11-29    36300
  2023-11-30    36900
  2023-12-01    36400
  Name: Close, Length: 248, dtype: int64},
 '066570': {'Name': 'LG전자',
  'Prices': Date
  2022-12-01     96200
  2022-12-02     96600
  2022-12-05     96800
  2022-12-06     97200
  2022-12-07     90300
                 ...
  2023-11-27    104100
  2023-11-28    104500
  2023-11-29    103400
  2023-11-30    102700
  2023-12-01    102400
  Name: Close, Length: 248, dtype: int64},
 '032830': {'Name': '삼성생명',
  'Prices': Date
  2022-12-01    72300
  2022-12-02    69300
  2022-12-05    68600
  2022-12-06    67800
  2022-12-07    70600
                ...
  2023-11-27    69700
  2023-11-28    70400
  2023-11-29    69400
  2023-11-30    70000
  2023-12-01    69400
  Name: Close, Length: 248, dtype: int64},
 '096770': {'Name': 'SK이노베이션',
  'Prices': Date
  2022-12-01    174651
  2022-12-02    171207
  2022-12-05    168747
  2022-12-06    167763
  2022-12-07    161860
                 ...
  2023-11-27    140000
  2023-11-28    141300
  2023-11-29    142300
  2023-11-30    143100
  2023-12-01    134400
  Name: Close, Length: 248, dtype: int64},
 '018260': {'Name': '삼성에스디에스',
  'Prices': Date
  2022-12-01    127000
  2022-12-02    125000
  2022-12-05    124000
  2022-12-06    123000
  2022-12-07    122500
                 ...
  2023-11-27    158900
  2023-11-28    158800
  2023-11-29    166200
  2023-11-30    168400
  2023-12-01    168500
  Name: Close, Length: 248, dtype: int64},
 '003550': {'Name': 'LG',
  'Prices': Date
  2022-12-01    84600
  2022-12-02    82600
  2022-12-05    80800
  2022-12-06    79800
  2022-12-07    78500
                ...
  2023-11-27    81700
  2023-11-28    83000
  2023-11-29    82200
  2023-11-30    84100
  2023-12-01    82000
  Name: Close, Length: 248, dtype: int64},
 '015760': {'Name': '한국전력',
  'Prices': Date
  2022-12-01    20650
  2022-12-02    19900
  2022-12-05    19850
  2022-12-06    19650
  2022-12-07    19800
                ...
  2023-11-27    19000
  2023-11-28    18980
  2023-11-29    18570
  2023-11-30    18850
  2023-12-01    19080
  Name: Close, Length: 248, dtype: int64},
 '086790': {'Name': '하나금융지주',
  'Prices': Date
  2022-12-01    46000
  2022-12-02    45550
  2022-12-05    45600
  2022-12-06    45350
  2022-12-07    44100
                ...
  2023-11-27    41550
  2023-11-28    41600
  2023-11-29    41250
  2023-11-30    41650
  2023-12-01    41850
  Name: Close, Length: 248, dtype: int64},
 '000810': {'Name': '삼성화재',
  'Prices': Date
  2022-12-01    203500
  2022-12-02    197000
  2022-12-05    197000
  2022-12-06    198000
  2022-12-07    203000
                 ...
  2023-11-27    265000
  2023-11-28    271000
  2023-11-29    262000
  2023-11-30    260000
  2023-12-01    257500
  Name: Close, Length: 248, dtype: int64},
 '323410': {'Name': '카카오뱅크',
  'Prices': Date
  2022-12-01    26500
  2022-12-02    26250
  2022-12-05    27400
  2022-12-06    27650
  2022-12-07    26800
                ...
  2023-11-27    25250
  2023-11-28    26300
  2023-11-29    26000
  2023-11-30    26200
  2023-12-01    25450
  Name: Close, Length: 248, dtype: int64},
 '034730': {'Name': 'SK',
  'Prices': Date
  2022-12-01    217500
  2022-12-02    211000
  2022-12-05    211000
  2022-12-06    209500
  2022-12-07    204000
                 ...
  2023-11-27    161800
  2023-11-28    166600
  2023-11-29    164700
  2023-11-30    163600
  2023-12-01    165200
  Name: Close, Length: 248, dtype: int64},
 '033780': {'Name': 'KT&G',
  'Prices': Date
  2022-12-01    97600
  2022-12-02    97300
  2022-12-05    97500
  2022-12-06    97700
  2022-12-07    97800
                ...
  2023-11-27    91000
  2023-11-28    90600
  2023-11-29    88500
  2023-11-30    88200
  2023-12-01    89400
  Name: Close, Length: 248, dtype: int64},
 '138040': {'Name': '메리츠금융지주',
  'Prices': Date
  2022-12-01    41200
  2022-12-02    40300
  2022-12-05    38950
  2022-12-06    39350
  2022-12-07    37750
                ...
  2023-11-27    55200
  2023-11-28    55000
  2023-11-29    54200
  2023-11-30    55500
  2023-12-01    55700
  Name: Close, Length: 248, dtype: int64},
 '329180': {'Name': 'HD현대중공업',
  'Prices': Date
  2022-12-01    118500
  2022-12-02    115000
  2022-12-05    114500
  2022-12-06    119000
  2022-12-07    118500
                 ...
  2023-11-27    124200
  2023-11-28    125000
  2023-11-29    122700
  2023-11-30    125200
  2023-12-01    128900
  Name: Close, Length: 248, dtype: int64},
 '017670': {'Name': 'SK텔레콤',
  'Prices': Date
  2022-12-01    50500
  2022-12-02    50300
  2022-12-05    50400
  2022-12-06    50400
  2022-12-07    50200
                ...
  2023-11-27    52200
  2023-11-28    52300
  2023-11-29    51900
  2023-11-30    52200
  2023-12-01    50600
  Name: Close, Length: 248, dtype: int64},
 '009150': {'Name': '삼성전기',
  'Prices': Date
  2022-12-01    136000
  2022-12-02    136500
  2022-12-05    140000
  2022-12-06    136500
  2022-12-07    134500
                 ...
  2023-11-27    138300
  2023-11-28    144000
  2023-11-29    146100
  2023-11-30    145700
  2023-12-01    146700
  Name: Close, Length: 248, dtype: int64},
 '011200': {'Name': 'HMM',
  'Prices': Date
  2022-12-01    21700
  2022-12-02    21400
  2022-12-05    21800
  2022-12-06    21100
  2022-12-07    20850
                ...
  2023-11-27    15350
  2023-11-28    15470
  2023-11-29    15450
  2023-11-30    15490
  2023-12-01    15870
  Name: Close, Length: 248, dtype: int64},
 '259960': {'Name': '크래프톤',
  'Prices': Date
  2022-12-01    220000
  2022-12-02    201500
  2022-12-05    184500
  2022-12-06    180000
  2022-12-07    178500
                 ...
  2023-11-27    217000
  2023-11-28    216000
  2023-11-29    216000
  2023-11-30    213000
  2023-12-01    217500
  Name: Close, Length: 248, dtype: int64},
 '010130': {'Name': '고려아연',
  'Prices': Date
  2022-12-01    627000
  2022-12-02    611000
  2022-12-05    603000
  2022-12-06    599000
  2022-12-07    605000
                 ...
  2023-11-27    489000
  2023-11-28    494000
  2023-11-29    493000
  2023-11-30    491500
  2023-12-01    497000
  Name: Close, Length: 248, dtype: int64},
 '047050': {'Name': '포스코인터내셔널',
  'Prices': Date
  2022-12-01    23750
  2022-12-02    23500
  2022-12-05    23150
  2022-12-06    22850
  2022-12-07    22900
                ...
  2023-11-27    57300
  2023-11-28    57600
  2023-11-29    58000
  2023-11-30    57200
  2023-12-01    55700
  Name: Close, Length: 248, dtype: int64},
 '034020': {'Name': '두산에너빌리티',
  'Prices': Date
  2022-12-01    16750
  2022-12-02    16150
  2022-12-05    16150
  2022-12-06    15900
  2022-12-07    15950
                ...
  2023-11-27    14960
  2023-11-28    15260
  2023-11-29    15070
  2023-11-30    15800
  2023-12-01    15270
  Name: Close, Length: 248, dtype: int64},
 '316140': {'Name': '우리금융지주',
  'Prices': Date
  2022-12-01    13100
  2022-12-02    12750
  2022-12-05    12800
  2022-12-06    12750
  2022-12-07    12500
                ...
  2023-11-27    12750
  2023-11-28    12920
  2023-11-29    12800
  2023-11-30    13020
  2023-12-01    12910
  Name: Close, Length: 248, dtype: int64},
 '024110': {'Name': '기업은행',
  'Prices': Date
  2022-12-01    11200
  2022-12-02    11200
  2022-12-05    11250
  2022-12-06    11100
  2022-12-07    10900
                ...
  2023-11-27    11730
  2023-11-28    11720
  2023-11-29    11720
  2023-11-30    11830
  2023-12-01    11870
  Name: Close, Length: 248, dtype: int64},
 '450080': {'Name': '에코프로머티',
  'Prices': Date
  2023-11-17     57200
  2023-11-20     74300
  2023-11-21     96500
  2023-11-22     91200
  2023-11-23     99100
  2023-11-24     99100
  2023-11-27    124600
  2023-11-28    133000
  2023-11-29    136500
  2023-11-30    137000
  2023-12-01    136400
  Name: Close, dtype: int64},
 '352820': {'Name': '하이브',
  'Prices': Date
  2022-12-01    153500
  2022-12-02    151000
  2022-12-05    152000
  2022-12-06    145000
  2022-12-07    145000
                 ...
  2023-11-27    212000
  2023-11-28    213000
  2023-11-29    215000
  2023-11-30    215500
  2023-12-01    211500
  Name: Close, Length: 248, dtype: int64},
 '030200': {'Name': 'KT',
  'Prices': Date
  2022-12-01    37400
  2022-12-02    37450
  2022-12-05    37550
  2022-12-06    37300
  2022-12-07    37400
                ...
  2023-11-27    33100
  2023-11-28    33500
  2023-11-29    33300
  2023-11-30    33550
  2023-12-01    33250
  Name: Close, Length: 248, dtype: int64},
 '042660': {'Name': '한화오션',
  'Prices': Date
  2022-12-01    17013
  2022-12-02    16480
  2022-12-05    16524
  2022-12-06    16391
  2022-12-07    16302
                ...
  2023-11-27    23350
  2023-11-28    25550
  2023-11-29    26800
  2023-11-30    27300
  2023-12-01    27150
  Name: Close, Length: 248, dtype: int64},
 '003490': {'Name': '대한항공',
  'Prices': Date
  2022-12-01    25500
  2022-12-02    25000
  2022-12-05    25650
  2022-12-06    25150
  2022-12-07    26050
                ...
  2023-11-27    22050
  2023-11-28    22350
  2023-11-29    22100
  2023-11-30    22450
  2023-12-01    22350
  Name: Close, Length: 248, dtype: int64},
 '009540': {'Name': 'HD한국조선해양',
  'Prices': Date
  2022-12-01     77100
  2022-12-02     74000
  2022-12-05     73800
  2022-12-06     74500
  2022-12-07     73800
                 ...
  2023-11-27    106000
  2023-11-28    108000
  2023-11-29    107500
  2023-11-30    111700
  2023-12-01    111300
  Name: Close, Length: 248, dtype: int64},
 '010950': {'Name': 'S-Oil',
  'Prices': Date
  2022-12-01    87600
  2022-12-02    86100
  2022-12-05    87100
  2022-12-06    85700
  2022-12-07    83500
                ...
  2023-11-27    70200
  2023-11-28    69900
  2023-11-29    69100
  2023-11-30    68200
  2023-12-01    68700
  Name: Close, Length: 248, dtype: int64},
 '090430': {'Name': '아모레퍼시픽',
  'Prices': Date
  2022-12-01    128000
  2022-12-02    131500
  2022-12-05    139500
  2022-12-06    135000
  2022-12-07    135000
                 ...
  2023-11-27    134400
  2023-11-28    133200
  2023-11-29    132900
  2023-11-30    129300
  2023-12-01    128000
  Name: Close, Length: 248, dtype: int64},
 '010140': {'Name': '삼성중공업',
  'Prices': Date
  2022-12-01    5220
  2022-12-02    5100
  2022-12-05    5120
  2022-12-06    5130
  2022-12-07    5080
                ...
  2023-11-27    7840
  2023-11-28    8160
  2023-11-29    8020
  2023-11-30    7980
  2023-12-01    8130
  Name: Close, Length: 248, dtype: int64},
 '001570': {'Name': '금양',
  'Prices': Date
  2022-12-01     32050
  2022-12-02     31950
  2022-12-05     31850
  2022-12-06     30150
  2022-12-07     29950
                 ...
  2023-11-27    108200
  2023-11-28    115700
  2023-11-29    121000
  2023-11-30    128300
  2023-12-01    122500
  Name: Close, Length: 248, dtype: int64},
 '012450': {'Name': '한화에어로스페이스',
  'Prices': Date
  2022-12-01     72200
  2022-12-02     72000
  2022-12-05     68600
  2022-12-06     68100
  2022-12-07     67100
                 ...
  2023-11-27    118400
  2023-11-28    119500
  2023-11-29    123100
  2023-11-30    125900
  2023-12-01    136000
  Name: Close, Length: 248, dtype: int64},
 '402340': {'Name': 'SK스퀘어',
  'Prices': Date
  2022-12-01    37500
  2022-12-02    36900
  2022-12-05    36300
  2022-12-06    35650
  2022-12-07    35200
                ...
  2023-11-27    49150
  2023-11-28    50200
  2023-11-29    49950
  2023-11-30    51000
  2023-12-01    49050
  Name: Close, Length: 248, dtype: int64},
 '011170': {'Name': '롯데케미칼',
  'Prices': Date
  2022-12-01    173356
  2022-12-02    171927
  2022-12-05    179548
  2022-12-06    176214
  2022-12-07    180500
                 ...
  2023-11-27    157800
  2023-11-28    158900
  2023-11-29    157000
  2023-11-30    154200
  2023-12-01    157500
  Name: Close, Length: 248, dtype: int64},
 '326030': {'Name': 'SK바이오팜',
  'Prices': Date
  2022-12-01    72700
  2022-12-02    72500
  2022-12-05    72600
  2022-12-06    72100
  2022-12-07    72200
                ...
  2023-11-27    86300
  2023-11-28    87100
  2023-11-29    84700
  2023-11-30    86100
  2023-12-01    85300
  Name: Close, Length: 248, dtype: int64},
 '086280': {'Name': '현대글로비스',
  'Prices': Date
  2022-12-01    174000
  2022-12-02    170000
  2022-12-05    168000
  2022-12-06    167500
  2022-12-07    169000
                 ...
  2023-11-27    178100
  2023-11-28    177900
  2023-11-29    177700
  2023-11-30    173700
  2023-12-01    174400
  Name: Close, Length: 248, dtype: int64},
 '377300': {'Name': '카카오페이',
  'Prices': Date
  2022-12-01    54800
  2022-12-02    54800
  2022-12-05    63800
  2022-12-06    63600
  2022-12-07    61600
                ...
  2023-11-27    45700
  2023-11-28    46400
  2023-11-29    45550
  2023-11-30    46100
  2023-12-01    46100
  Name: Close, Length: 248, dtype: int64},
 '036570': {'Name': '엔씨소프트',
  'Prices': Date
  2022-12-01    464000
  2022-12-02    469500
  2022-12-05    454500
  2022-12-06    455000
  2022-12-07    460000
                 ...
  2023-11-27    271000
  2023-11-28    265000
  2023-11-29    263500
  2023-11-30    262000
  2023-12-01    281000
  Name: Close, Length: 248, dtype: int64},
 '042700': {'Name': '한미반도체',
  'Prices': Date
  2022-12-01    13350
  2022-12-02    13150
  2022-12-05    13200
  2022-12-06    12700
  2022-12-07    12550
                ...
  2023-11-27    59700
  2023-11-28    61600
  2023-11-29    61100
  2023-11-30    63600
  2023-12-01    62000
  Name: Close, Length: 248, dtype: int64},
 '005830': {'Name': 'DB손해보험',
  'Prices': Date
  2022-12-01    62300
  2022-12-02    61100
  2022-12-05    61600
  2022-12-06    60900
  2022-12-07    60700
                ...
  2023-11-27    81900
  2023-11-28    82200
  2023-11-29    81500
  2023-11-30    83700
  2023-12-01    82000
  Name: Close, Length: 248, dtype: int64},
 '454910': {'Name': '두산로보틱스',
  'Prices': Date
  2023-10-05    51400
  2023-10-06    51800
  2023-10-10    46650
  2023-10-11    46900
  2023-10-12    47800
  2023-10-13    45750
  2023-10-16    41650
  2023-10-17    42400
  2023-10-18    41100
  2023-10-19    38250

In [4]:
kospi200_prices

{'005930': {'Name': '삼성전자',
  'Prices': Date
  2022-12-01    62600
  2022-12-02    60400
  2022-12-05    60300
  2022-12-06    59200
  2022-12-07    58900
                ...
  2023-11-27    71300
  2023-11-28    72700
  2023-11-29    72700
  2023-11-30    72800
  2023-12-01    72000
  Name: Close, Length: 248, dtype: int64},
 '373220': {'Name': 'LG에너지솔루션',
  'Prices': Date
  2022-12-01    585000
  2022-12-02    584000
  2022-12-05    562000
  2022-12-06    559000
  2022-12-07    563000
                 ...
  2023-11-27    434500
  2023-11-28    435000
  2023-11-29    447000
  2023-11-30    454500
  2023-12-01    428500
  Name: Close, Length: 248, dtype: int64},
 '000660': {'Name': 'SK하이닉스',
  'Prices': Date
  2022-12-01     84700
  2022-12-02     81900
  2022-12-05     81000
  2022-12-06     81000
  2022-12-07     78900
                 ...
  2023-11-27    130700
  2023-11-28    131400
  2023-11-29    130400
  2023-11-30    133900
  2023-12-01    132600
  Name: Close, Length: 248, dtype: int64},
 '207940': {'Name': '삼성바이오로직스',
  'Prices': Date
  2022-12-01    884000
  2022-12-02    870000
  2022-12-05    833000
  2022-12-06    838000
  2022-12-07    831000
                 ...
  2023-11-27    703000
  2023-11-28    727000
  2023-11-29    729000
  2023-11-30    725000
  2023-12-01    711000
  Name: Close, Length: 248, dtype: int64},
 '005935': {'Name': '삼성전자우',
  'Prices': Date
  2022-12-01    56200
  2022-12-02    55600
  2022-12-05    54600
  2022-12-06    54000
  2022-12-07    53600
                ...
  2023-11-27    57000
  2023-11-28    57900
  2023-11-29    57800
  2023-11-30    57900
  2023-12-01    57900
  Name: Close, Length: 248, dtype: int64},
 '005490': {'Name': 'POSCO홀딩스',
  'Prices': Date
  2022-12-01    301000
  2022-12-02    295000
  2022-12-05    293500
  2022-12-06    286500
  2022-12-07    290000
                 ...
  2023-11-27    468000
  2023-11-28    478000
  2023-11-29    483000
  2023-11-30    483000
  2023-12-01    474000
  Name: Close, Length: 248, dtype: int64},
 '005380': {'Name': '현대차',
  'Prices': Date
  2022-12-01    171500
  2022-12-02    169000
  2022-12-05    165500
  2022-12-06    164500
  2022-12-07    163000
                 ...
  2023-11-27    184900
  2023-11-28    185700
  2023-11-29    184800
  2023-11-30    184300
  2023-12-01    182800
  Name: Close, Length: 248, dtype: int64},
 '000270': {'Name': '기아',
  'Prices': Date
  2022-12-01    68600
  2022-12-02    66500
  2022-12-05    65600
  2022-12-06    65100
  2022-12-07    65000
                ...
  2023-11-27    84100
  2023-11-28    84600
  2023-11-29    86000
  2023-11-30    85900
  2023-12-01    85800
  Name: Close, Length: 248, dtype: int64},
 '051910': {'Name': 'LG화학',
  'Prices': Date
  2022-12-01    722000
  2022-12-02    711000
  2022-12-05    696000
  2022-12-06    686000
  2022-12-07    679000
                 ...
  2023-11-27    506000
  2023-11-28    504000
  2023-11-29    504000
  2023-11-30    501000
  2023-12-01    486500
  Name: Close, Length: 248, dtype: int64},
 '035420': {'Name': 'NAVER',
  'Prices': Date
  2022-12-01    187500
  2022-12-02    185500
  2022-12-05    191500
  2022-12-06    185500
  2022-12-07    183500
                 ...
  2023-11-27    206000
  2023-11-28    207500
  2023-11-29    207500
  2023-11-30    208000
  2023-12-01    206000
  Name: Close, Length: 248, dtype: int64},
 '006400': {'Name': '삼성SDI',
  'Prices': Date
  2022-12-01    726000
  2022-12-02    718000
  2022-12-05    697000
  2022-12-06    706000
  2022-12-07    708000
                 ...
  2023-11-27    453500
  2023-11-28    455000
  2023-11-29    471500
  2023-11-30    472000
  2023-12-01    447000
  Name: Close, Length: 248, dtype: int64},
 '003670': {'Name': '포스코퓨처엠',
  'Prices': Date
  2022-12-01    220500
  2022-12-02    214500
  2022-12-05    206500
  2022-12-06    206000
  2022-12-07    209000
                 ...
  2023-11-27    300000
  2023-11-28    304500
  2023-11-29    327500
  2023-11-30    324500
  2023-12-01    314000
  Name: Close, Length: 248, dtype: int64},
 '068270': {'Name': '셀트리온',
  'Prices': Date
  2022-12-01    171945
  2022-12-02    167610
  2022-12-05    167129
  2022-12-06    165684
  2022-12-07    168092
                 ...
  2023-11-27    162800
  2023-11-28    165000
  2023-11-29    161700
  2023-11-30    162900
  2023-12-01    163100
  Name: Close, Length: 248, dtype: int64},
 '035720': {'Name': '카카오',
  'Prices': Date
  2022-12-01    57900
  2022-12-02    56900
  2022-12-05    58000
  2022-12-06    56000
  2022-12-07    55500
                ...
  2023-11-27    49850
  2023-11-28    51100
  2023-11-29    50500
  2023-11-30    50500
  2023-12-01    49700
  Name: Close, Length: 248, dtype: int64},
 '028260': {'Name': '삼성물산',
  'Prices': Date
  2022-12-01    121500
  2022-12-02    117500
  2022-12-05    116500
  2022-12-06    116000
  2022-12-07    116000
                 ...
  2023-11-27    117000
  2023-11-28    119000
  2023-11-29    117800
  2023-11-30    119300
  2023-12-01    118600
  Name: Close, Length: 248, dtype: int64},
 '012330': {'Name': '현대모비스',
  'Prices': Date
  2022-12-01    213500
  2022-12-02    213500
  2022-12-05    209000
  2022-12-06    206000
  2022-12-07    207500
                 ...
  2023-11-27    232000
  2023-11-28    233500
  2023-11-29    230500
  2023-11-30    229000
  2023-12-01    227000
  Name: Close, Length: 248, dtype: int64},
 '105560': {'Name': 'KB금융',
  'Prices': Date
  2022-12-01    53500
  2022-12-02    52400
  2022-12-05    52500
  2022-12-06    52100
  2022-12-07    50800
                ...
  2023-11-27    52400
  2023-11-28    52400
  2023-11-29    51700
  2023-11-30    52400
  2023-12-01    51900
  Name: Close, Length: 248, dtype: int64},
 '055550': {'Name': '신한지주',
  'Prices': Date
  2022-12-01    38350
  2022-12-02    38100
  2022-12-05    38200
  2022-12-06    37900
  2022-12-07    37250
                ...
  2023-11-27    36750
  2023-11-28    37000
  2023-11-29    36300
  2023-11-30    36900
  2023-12-01    36400
  Name: Close, Length: 248, dtype: int64},
 '066570': {'Name': 'LG전자',
  'Prices': Date
  2022-12-01     96200
  2022-12-02     96600
  2022-12-05     96800
  2022-12-06     97200
  2022-12-07     90300
                 ...
  2023-11-27    104100
  2023-11-28    104500
  2023-11-29    103400
  2023-11-30    102700
  2023-12-01    102400
  Name: Close, Length: 248, dtype: int64},
 '032830': {'Name': '삼성생명',
  'Prices': Date
  2022-12-01    72300
  2022-12-02    69300
  2022-12-05    68600
  2022-12-06    67800
  2022-12-07    70600
                ...
  2023-11-27    69700
  2023-11-28    70400
  2023-11-29    69400
  2023-11-30    70000
  2023-12-01    69400
  Name: Close, Length: 248, dtype: int64},
 '096770': {'Name': 'SK이노베이션',
  'Prices': Date
  2022-12-01    174651
  2022-12-02    171207
  2022-12-05    168747
  2022-12-06    167763
  2022-12-07    161860
                 ...
  2023-11-27    140000
  2023-11-28    141300
  2023-11-29    142300
  2023-11-30    143100
  2023-12-01    134400
  Name: Close, Length: 248, dtype: int64},
 '018260': {'Name': '삼성에스디에스',
  'Prices': Date
  2022-12-01    127000
  2022-12-02    125000
  2022-12-05    124000
  2022-12-06    123000
  2022-12-07    122500
                 ...
  2023-11-27    158900
  2023-11-28    158800
  2023-11-29    166200
  2023-11-30    168400
  2023-12-01    168500
  Name: Close, Length: 248, dtype: int64},
 '003550': {'Name': 'LG',
  'Prices': Date
  2022-12-01    84600
  2022-12-02    82600
  2022-12-05    80800
  2022-12-06    79800
  2022-12-07    78500
                ...
  2023-11-27    81700
  2023-11-28    83000
  2023-11-29    82200
  2023-11-30    84100
  2023-12-01    82000
  Name: Close, Length: 248, dtype: int64},
 '015760': {'Name': '한국전력',
  'Prices': Date
  2022-12-01    20650
  2022-12-02    19900
  2022-12-05    19850
  2022-12-06    19650
  2022-12-07    19800
                ...
  2023-11-27    19000
  2023-11-28    18980
  2023-11-29    18570
  2023-11-30    18850
  2023-12-01    19080
  Name: Close, Length: 248, dtype: int64},
 '086790': {'Name': '하나금융지주',
  'Prices': Date
  2022-12-01    46000
  2022-12-02    45550
  2022-12-05    45600
  2022-12-06    45350
  2022-12-07    44100
                ...
  2023-11-27    41550
  2023-11-28    41600
  2023-11-29    41250
  2023-11-30    41650
  2023-12-01    41850
  Name: Close, Length: 248, dtype: int64},
 '000810': {'Name': '삼성화재',
  'Prices': Date
  2022-12-01    203500
  2022-12-02    197000
  2022-12-05    197000
  2022-12-06    198000
  2022-12-07    203000
                 ...
  2023-11-27    265000
  2023-11-28    271000
  2023-11-29    262000
  2023-11-30    260000
  2023-12-01    257500
  Name: Close, Length: 248, dtype: int64},
 '323410': {'Name': '카카오뱅크',
  'Prices': Date
  2022-12-01    26500
  2022-12-02    26250
  2022-12-05    27400
  2022-12-06    27650
  2022-12-07    26800
                ...
  2023-11-27    25250
  2023-11-28    26300
  2023-11-29    26000
  2023-11-30    26200
  2023-12-01    25450
  Name: Close, Length: 248, dtype: int64},
 '034730': {'Name': 'SK',
  'Prices': Date
  2022-12-01    217500
  2022-12-02    211000
  2022-12-05    211000
  2022-12-06    209500
  2022-12-07    204000
                 ...
  2023-11-27    161800
  2023-11-28    166600
  2023-11-29    164700
  2023-11-30    163600
  2023-12-01    165200
  Name: Close, Length: 248, dtype: int64},
 '033780': {'Name': 'KT&G',
  'Prices': Date
  2022-12-01    97600
  2022-12-02    97300
  2022-12-05    97500
  2022-12-06    97700
  2022-12-07    97800
                ...
  2023-11-27    91000
  2023-11-28    90600
  2023-11-29    88500
  2023-11-30    88200
  2023-12-01    89400
  Name: Close, Length: 248, dtype: int64},
 '138040': {'Name': '메리츠금융지주',
  'Prices': Date
  2022-12-01    41200
  2022-12-02    40300
  2022-12-05    38950
  2022-12-06    39350
  2022-12-07    37750
                ...
  2023-11-27    55200
  2023-11-28    55000
  2023-11-29    54200
  2023-11-30    55500
  2023-12-01    55700
  Name: Close, Length: 248, dtype: int64},
 '329180': {'Name': 'HD현대중공업',
  'Prices': Date
  2022-12-01    118500
  2022-12-02    115000
  2022-12-05    114500
  2022-12-06    119000
  2022-12-07    118500
                 ...
  2023-11-27    124200
  2023-11-28    125000
  2023-11-29    122700
  2023-11-30    125200
  2023-12-01    128900
  Name: Close, Length: 248, dtype: int64},
 '017670': {'Name': 'SK텔레콤',
  'Prices': Date
  2022-12-01    50500
  2022-12-02    50300
  2022-12-05    50400
  2022-12-06    50400
  2022-12-07    50200
                ...
  2023-11-27    52200
  2023-11-28    52300
  2023-11-29    51900
  2023-11-30    52200
  2023-12-01    50600
  Name: Close, Length: 248, dtype: int64},
 '009150': {'Name': '삼성전기',
  'Prices': Date
  2022-12-01    136000
  2022-12-02    136500
  2022-12-05    140000
  2022-12-06    136500
  2022-12-07    134500
                 ...
  2023-11-27    138300
  2023-11-28    144000
  2023-11-29    146100
  2023-11-30    145700
  2023-12-01    146700
  Name: Close, Length: 248, dtype: int64},
 '011200': {'Name': 'HMM',
  'Prices': Date
  2022-12-01    21700
  2022-12-02    21400
  2022-12-05    21800
  2022-12-06    21100
  2022-12-07    20850
                ...
  2023-11-27    15350
  2023-11-28    15470
  2023-11-29    15450
  2023-11-30    15490
  2023-12-01    15870
  Name: Close, Length: 248, dtype: int64},
 '259960': {'Name': '크래프톤',
  'Prices': Date
  2022-12-01    220000
  2022-12-02    201500
  2022-12-05    184500
  2022-12-06    180000
  2022-12-07    178500
                 ...
  2023-11-27    217000
  2023-11-28    216000
  2023-11-29    216000
  2023-11-30    213000
  2023-12-01    217500
  Name: Close, Length: 248, dtype: int64},
 '010130': {'Name': '고려아연',
  'Prices': Date
  2022-12-01    627000
  2022-12-02    611000
  2022-12-05    603000
  2022-12-06    599000
  2022-12-07    605000
                 ...
  2023-11-27    489000
  2023-11-28    494000
  2023-11-29    493000
  2023-11-30    491500
  2023-12-01    497000
  Name: Close, Length: 248, dtype: int64},
 '047050': {'Name': '포스코인터내셔널',
  'Prices': Date
  2022-12-01    23750
  2022-12-02    23500
  2022-12-05    23150
  2022-12-06    22850
  2022-12-07    22900
                ...
  2023-11-27    57300
  2023-11-28    57600
  2023-11-29    58000
  2023-11-30    57200
  2023-12-01    55700
  Name: Close, Length: 248, dtype: int64},
 '034020': {'Name': '두산에너빌리티',
  'Prices': Date
  2022-12-01    16750
  2022-12-02    16150
  2022-12-05    16150
  2022-12-06    15900
  2022-12-07    15950
                ...
  2023-11-27    14960
  2023-11-28    15260
  2023-11-29    15070
  2023-11-30    15800
  2023-12-01    15270
  Name: Close, Length: 248, dtype: int64},
 '316140': {'Name': '우리금융지주',
  'Prices': Date
  2022-12-01    13100
  2022-12-02    12750
  2022-12-05    12800
  2022-12-06    12750
  2022-12-07    12500
                ...
  2023-11-27    12750
  2023-11-28    12920
  2023-11-29    12800
  2023-11-30    13020
  2023-12-01    12910
  Name: Close, Length: 248, dtype: int64},
 '024110': {'Name': '기업은행',
  'Prices': Date
  2022-12-01    11200
  2022-12-02    11200
  2022-12-05    11250
  2022-12-06    11100
  2022-12-07    10900
                ...
  2023-11-27    11730
  2023-11-28    11720
  2023-11-29    11720
  2023-11-30    11830
  2023-12-01    11870
  Name: Close, Length: 248, dtype: int64},
 '450080': {'Name': '에코프로머티',
  'Prices': Date
  2023-11-17     57200
  2023-11-20     74300
  2023-11-21     96500
  2023-11-22     91200
  2023-11-23     99100
  2023-11-24     99100
  2023-11-27    124600
  2023-11-28    133000
  2023-11-29    136500
  2023-11-30    137000
  2023-12-01    136400
  Name: Close, dtype: int64},
 '352820': {'Name': '하이브',
  'Prices': Date
  2022-12-01    153500
  2022-12-02    151000
  2022-12-05    152000
  2022-12-06    145000
  2022-12-07    145000
                 ...
  2023-11-27    212000
  2023-11-28    213000
  2023-11-29    215000
  2023-11-30    215500
  2023-12-01    211500
  Name: Close, Length: 248, dtype: int64},
 '030200': {'Name': 'KT',
  'Prices': Date
  2022-12-01    37400
  2022-12-02    37450
  2022-12-05    37550
  2022-12-06    37300
  2022-12-07    37400
                ...
  2023-11-27    33100
  2023-11-28    33500
  2023-11-29    33300
  2023-11-30    33550
  2023-12-01    33250
  Name: Close, Length: 248, dtype: int64},
 '042660': {'Name': '한화오션',
  'Prices': Date
  2022-12-01    17013
  2022-12-02    16480
  2022-12-05    16524
  2022-12-06    16391
  2022-12-07    16302
                ...
  2023-11-27    23350
  2023-11-28    25550
  2023-11-29    26800
  2023-11-30    27300
  2023-12-01    27150
  Name: Close, Length: 248, dtype: int64},
 '003490': {'Name': '대한항공',
  'Prices': Date
  2022-12-01    25500
  2022-12-02    25000
  2022-12-05    25650
  2022-12-06    25150
  2022-12-07    26050
                ...
  2023-11-27    22050
  2023-11-28    22350
  2023-11-29    22100
  2023-11-30    22450
  2023-12-01    22350
  Name: Close, Length: 248, dtype: int64},
 '009540': {'Name': 'HD한국조선해양',
  'Prices': Date
  2022-12-01     77100
  2022-12-02     74000
  2022-12-05     73800
  2022-12-06     74500
  2022-12-07     73800
                 ...
  2023-11-27    106000
  2023-11-28    108000
  2023-11-29    107500
  2023-11-30    111700
  2023-12-01    111300
  Name: Close, Length: 248, dtype: int64},
 '010950': {'Name': 'S-Oil',
  'Prices': Date
  2022-12-01    87600
  2022-12-02    86100
  2022-12-05    87100
  2022-12-06    85700
  2022-12-07    83500
                ...
  2023-11-27    70200
  2023-11-28    69900
  2023-11-29    69100
  2023-11-30    68200
  2023-12-01    68700
  Name: Close, Length: 248, dtype: int64},
 '090430': {'Name': '아모레퍼시픽',
  'Prices': Date
  2022-12-01    128000
  2022-12-02    131500
  2022-12-05    139500
  2022-12-06    135000
  2022-12-07    135000
                 ...
  2023-11-27    134400
  2023-11-28    133200
  2023-11-29    132900
  2023-11-30    129300
  2023-12-01    128000
  Name: Close, Length: 248, dtype: int64},
 '010140': {'Name': '삼성중공업',
  'Prices': Date
  2022-12-01    5220
  2022-12-02    5100
  2022-12-05    5120
  2022-12-06    5130
  2022-12-07    5080
                ...
  2023-11-27    7840
  2023-11-28    8160
  2023-11-29    8020
  2023-11-30    7980
  2023-12-01    8130
  Name: Close, Length: 248, dtype: int64},
 '001570': {'Name': '금양',
  'Prices': Date
  2022-12-01     32050
  2022-12-02     31950
  2022-12-05     31850
  2022-12-06     30150
  2022-12-07     29950
                 ...
  2023-11-27    108200
  2023-11-28    115700
  2023-11-29    121000
  2023-11-30    128300
  2023-12-01    122500
  Name: Close, Length: 248, dtype: int64},
 '012450': {'Name': '한화에어로스페이스',
  'Prices': Date
  2022-12-01     72200
  2022-12-02     72000
  2022-12-05     68600
  2022-12-06     68100
  2022-12-07     67100
                 ...
  2023-11-27    118400
  2023-11-28    119500
  2023-11-29    123100
  2023-11-30    125900
  2023-12-01    136000
  Name: Close, Length: 248, dtype: int64},
 '402340': {'Name': 'SK스퀘어',
  'Prices': Date
  2022-12-01    37500
  2022-12-02    36900
  2022-12-05    36300
  2022-12-06    35650
  2022-12-07    35200
                ...
  2023-11-27    49150
  2023-11-28    50200
  2023-11-29    49950
  2023-11-30    51000
  2023-12-01    49050
  Name: Close, Length: 248, dtype: int64},
 '011170': {'Name': '롯데케미칼',
  'Prices': Date
  2022-12-01    173356
  2022-12-02    171927
  2022-12-05    179548
  2022-12-06    176214
  2022-12-07    180500
                 ...
  2023-11-27    157800
  2023-11-28    158900
  2023-11-29    157000
  2023-11-30    154200
  2023-12-01    157500
  Name: Close, Length: 248, dtype: int64},
 '326030': {'Name': 'SK바이오팜',
  'Prices': Date
  2022-12-01    72700
  2022-12-02    72500
  2022-12-05    72600
  2022-12-06    72100
  2022-12-07    72200
                ...
  2023-11-27    86300
  2023-11-28    87100
  2023-11-29    84700
  2023-11-30    86100
  2023-12-01    85300
  Name: Close, Length: 248, dtype: int64},
 '086280': {'Name': '현대글로비스',
  'Prices': Date
  2022-12-01    174000
  2022-12-02    170000
  2022-12-05    168000
  2022-12-06    167500
  2022-12-07    169000
                 ...
  2023-11-27    178100
  2023-11-28    177900
  2023-11-29    177700
  2023-11-30    173700
  2023-12-01    174400
  Name: Close, Length: 248, dtype: int64},
 '377300': {'Name': '카카오페이',
  'Prices': Date
  2022-12-01    54800
  2022-12-02    54800
  2022-12-05    63800
  2022-12-06    63600
  2022-12-07    61600
                ...
  2023-11-27    45700
  2023-11-28    46400
  2023-11-29    45550
  2023-11-30    46100
  2023-12-01    46100
  Name: Close, Length: 248, dtype: int64},
 '036570': {'Name': '엔씨소프트',
  'Prices': Date
  2022-12-01    464000
  2022-12-02    469500
  2022-12-05    454500
  2022-12-06    455000
  2022-12-07    460000
                 ...
  2023-11-27    271000
  2023-11-28    265000
  2023-11-29    263500
  2023-11-30    262000
  2023-12-01    281000
  Name: Close, Length: 248, dtype: int64},
 '042700': {'Name': '한미반도체',
  'Prices': Date
  2022-12-01    13350
  2022-12-02    13150
  2022-12-05    13200
  2022-12-06    12700
  2022-12-07    12550
                ...
  2023-11-27    59700
  2023-11-28    61600
  2023-11-29    61100
  2023-11-30    63600
  2023-12-01    62000
  Name: Close, Length: 248, dtype: int64},
 '005830': {'Name': 'DB손해보험',
  'Prices': Date
  2022-12-01    62300
  2022-12-02    61100
  2022-12-05    61600
  2022-12-06    60900
  2022-12-07    60700
                ...
  2023-11-27    81900
  2023-11-28    82200
  2023-11-29    81500
  2023-11-30    83700
  2023-12-01    82000
  Name: Close, Length: 248, dtype: int64},
 '454910': {'Name': '두산로보틱스',
  'Prices': Date
  2023-10-05    51400
  2023-10-06    51800
  2023-10-10    46650
  2023-10-11    46900
  2023-10-12    47800
  2023-10-13    45750
  2023-10-16    41650
  2023-10-17    42400
  2023-10-18    41100
  2023-10-19    38250

In [5]:
type(kospi200_prices)

dict

In [6]:
# 결과를 데이터프레임으로 변환
kospi200_prices_df = pd.DataFrame({data['Name']: data['Prices'] for code, data in kospi200_prices.items()})

In [7]:
kospi200_prices_df

,삼성전자,LG에너지솔루션,SK하이닉스,삼성바이오로직스,삼성전자우,POSCO홀딩스,현대차,기아,LG화학,NAVER,...,한국콜마,대한유화,영원무역홀딩스,풍산,DL,롯데렌탈,HDC현대산업개발,SK오션플랜트,대웅,명신산업
Date,,,,,,,,,,,,,,,,,,,,,
2022-12-01,62600,585000,84700,884000,56200,301000,171500,68600,722000,187500,...,39900,158500,59100,30550,69300,29000,11550,23050,20850,17750
2022-12-02,60400,584000,81900,870000,55600,295000,169000,66500,711000,185500,...,41650,156500,59000,30400,67400,28800,11300,22300,20800,17800
2022-12-05,60300,562000,81000,833000,54600,293500,165500,65600,696000,191500,...,42500,167000,58800,31850,67900,28750,11550,22400,21050,17400
2022-12-06,59200,559000,81000,838000,54000,286500,164500,65100,686000,185500,...,40800,167500,58200,30450,66600,28600,11150,21700,20700,16800
2022-12-07,58900,563000,78900,831000,53600,290000,163000,65000,679000,183500,...,42550,171000,58900,30800,66700,28300,10900,21900,21600,16750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-11-27,71300,434500,130700,703000,57000,468000,184900,84100,506000,206000,...,47950,166000,79800,35750,48500,26700,15270,16220,16630,19230
2023-11-28,72700,435000,131400,727000,57900,478000,185700,84600,504000,207500,...,47200,164600,79700,35750,48300,26650,15590,16210,17200,19240
2023-11-29,72700,447000,130400,729000,57800,483000,184800,86000,504000,207500,...,47150,162900,77700,35300,47500,26850,15050,16280,16980,19300
2023-11-30,72800,454500,133900,725000,57900,483000,184300,85900,501000,208000,...,47450,164400,77400,35700,48000,27250,15410,16620,16700,19250
2023-12-01,72000,428500,132600,711000,57900,474000,182800,85800,486500,206000,...,47350,164000,76700,36800,48200,27350,15150,16450,16680,18440

In [8]:
samsung_etc_20= talib.SMA(kospi200_prices_df['삼성전자'], 20)
samsung_etc_5 = talib.SMA(kospi200_prices_df['삼성전자'], 5)

In [9]:
samsung_etc_20=talib.SMA(kospi200_prices_df['삼성전자'], 20)

In [10]:
samsung_etc_df = pd.concat([samsung_etc_20, samsung_etc_5,kospi200_prices_df['삼성전자']], axis=1)

In [12]:
samsung_etc_df.columns=['SMA_20', 'SMA_5', '삼성전자_종가']

In [19]:
samsung_Close_df=pd.DataFrame(kospi200_prices_df['삼성전자'])
samsung_Close_df

             삼성전자
Date
2022-12-01  62600
2022-12-02  60400
2022-12-05  60300
2022-12-06  59200
2022-12-07  58900
...           ...
2023-11-27  71300
2023-11-28  72700
2023-11-29  72700
2023-11-30  72800
2023-12-01  72000

[248 rows x 1 columns]

In [17]:
samsung_etc_20df = pd.DataFrame(samsung_etc_20)
samsung_etc_5df = pd.DataFrame(samsung_etc_5)

AttributeError: 'list' object has no attribute 'plot'