In [5]:
import pandas as pd
df = pd.read_excel('에너지 및 원료공급업_3대7.xlsx')
df.head(1)

      기업명           업종명   재무총점수  비재무 총점수  3대7 최총점수
0  대한그린파워  에너지 및 원료 공급업     0.2      1.0      0.76

In [7]:
df1 = pd.read_excel('건설업_3대7.xlsx')
df1.head(5)

        기업명  업종명     재무총점수   비재무 총점수  3대7 최총점수
0     대명에너지  건설업  0.806452  0.859619  0.843669
1     상지카일룸  건설업  0.258065  1.000000  0.777419
2      화성산업  건설업  0.580645  0.838458  0.761114
3      디엘건설  건설업  0.935484  0.540527  0.659014
4  에쓰씨엔지니어링  건설업  0.193548  0.836287  0.643465

In [10]:
df2 = pd.read_excel('금속 및 비금속_3대7.xlsx')
df2.head(10)

     기업명           업종명     재무총점수   비재무 총점수  3대7 최총점수
0    넥스틴  금속 및 비금속 제조업  0.934783  1.000000  0.980435
1    엑시콘  금속 및 비금속 제조업  0.847826  0.941575  0.913450
2  엑스페릭스  금속 및 비금속 제조업  0.543478  0.989645  0.855795
3  TCC스틸  금속 및 비금속 제조업  0.673913  0.933532  0.855646
4   씨유테크  금속 및 비금속 제조업  0.782609  0.881122  0.851568
5    노바텍  금속 및 비금속 제조업  1.000000  0.715978  0.801184
6    케이씨  금속 및 비금속 제조업  0.891304  0.680607  0.743816
7   유비쿼스  금속 및 비금속 제조업  0.826087  0.697095  0.735793
8   대동스틸  금속 및 비금속 제조업  0.717391  0.713687  0.714799
9   문배철강  금속 및 비금속 제조업  0.760870  0.680577  0.704665

In [11]:
df3 = pd.read_excel('도소매업_3대7.xlsx')
df3.head(10)

        기업명   업종명     재무총점수   비재무 총점수  3대7 최총점수
0      와이오엠  도소매업  0.552632  1.000000  0.865789
1   감성코퍼레이션  도소매업  0.894737  0.739817  0.786293
2   서플러스글로벌  도소매업  0.894737  0.727565  0.777717
3     유니퀘스트  도소매업  0.657895  0.704499  0.690518
4     미래반도체  도소매업  1.000000  0.507875  0.655513
5      실리콘투  도소매업  1.000000  0.496413  0.647489
6      삼영무역  도소매업  0.815789  0.538693  0.621822
7    에스에이엠티  도소매업  0.947368  0.462369  0.607869
8     대원미디어  도소매업  0.842105  0.504180  0.605558
9  골프존뉴딘홀딩스  도소매업  0.789474  0.518437  0.599748

In [13]:
df4 = pd.read_excel('섬유 및 목재 제조업_3대7.xlsx')
df4.head(8)

       기업명          업종명     재무총점수   비재무 총점수  3대7 최총점수
0       원림  섬유 및 목재 제조업  0.581395  1.000000  0.874419
1     공구우먼  섬유 및 목재 제조업  1.000000  0.596199  0.717339
2      유니켐  섬유 및 목재 제조업  0.186047  0.909385  0.692384
3    한국쉘석유  섬유 및 목재 제조업  0.813953  0.630378  0.685451
4      케이엠  섬유 및 목재 제조업  0.744186  0.634860  0.667658
5       방림  섬유 및 목재 제조업  0.465116  0.724528  0.646705
6     대림제지  섬유 및 목재 제조업  0.813953  0.572824  0.645163
7  크리스에프앤씨  섬유 및 목재 제조업  0.744186  0.593817  0.638928

In [15]:
df5 = pd.read_excel('식품제조업_3대7.xlsx')
df5.head(6)

        기업명     업종명  재무총점수   비재무 총점수  3대7 최총점수
0  에이치엘사이언스  식품 제조업   0.75  1.000000  0.925000
1     프롬바이오  식품 제조업   0.75  0.854788  0.823352
2     에이치피오  식품 제조업   0.95  0.767560  0.822292
3       뉴트리  식품 제조업   1.00  0.668597  0.768018
4      노바렉스  식품 제조업   0.85  0.682603  0.732822
5      삼양식품  식품 제조업   0.90  0.617111  0.701978

In [17]:
df6 = pd.read_excel('운송업_3대7.xlsx')
df6.head(2)

        기업명  업종명     재무총점수   비재무 총점수  3대7 최총점수
0  케이에스에스해운  운송업  0.655172  1.000000  0.896552
1     태웅로직스  운송업  1.000000  0.788094  0.851666

In [19]:
df7 = pd.read_excel('종합서비스업_3대7.xlsx')
df7.head(10)

       기업명     업종명     재무총점수   비재무 총점수  3대7 최총점수
0    엑스게이트  종합서비스업  0.738095  1.000000  0.921429
1       엑셈  종합서비스업  0.809524  0.941147  0.901660
2      큐알티  종합서비스업  0.761905  0.840375  0.816834
3     이노룰스  종합서비스업  0.785714  0.828438  0.815621
4  엔에이치엔벅스  종합서비스업  0.452381  0.970940  0.815372
5   디앤씨미디어  종합서비스업  0.857143  0.797462  0.815366
6  케이아이엔엑스  종합서비스업  0.833333  0.795131  0.806592
7  영림원소프트랩  종합서비스업  0.761905  0.812656  0.797431
8   에프앤가이드  종합서비스업  0.619048  0.856394  0.785190
9      가비아  종합서비스업  0.880952  0.736822  0.780061

In [20]:
df8 = pd.read_excel('화학물질 및 의약품_3대7.xlsx')
df8.head(10)

         기업명             업종명     재무총점수   비재무 총점수  3대7 최총점수
0   바이오에프디엔씨  화학물질 및 의약품 제조업  0.767442  1.000000  0.930233
1       마녀공장  화학물질 및 의약품 제조업  1.000000  0.857821  0.900474
2      바디텍메드  화학물질 및 의약품 제조업  0.860465  0.775543  0.801020
3  이엔에프테크놀로지  화학물질 및 의약품 제조업  0.651163  0.770005  0.734352
4    원익머트리얼즈  화학물질 및 의약품 제조업  0.860465  0.617285  0.690239
5    중앙백신연구소  화학물질 및 의약품 제조업  0.581395  0.735291  0.689122
6        티앤엘  화학물질 및 의약품 제조업  0.953488  0.567885  0.683566
7         퓨릿  화학물질 및 의약품 제조업  0.767442  0.639847  0.678126
8    티케이지휴켐스  화학물질 및 의약품 제조업  0.767442  0.634499  0.674382
9      알리코제약  화학물질 및 의약품 제조업  0.604651  0.697843  0.669885